.slide { // Do not remove .slide, identifier used in JS
  overflow-x: hidden;
}

.root {
  :global(.modal-dialog) {
    max-width: 23rem;
  }
}

.content {
  padding: 0.5rem !important;
}

.modalTitle {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.header {
  display: flex;
  align-items: center;
}

.optionText {
  overflow: hidden;
  width: 100%;
  overflow-wrap: anywhere;
  white-space: normal;
}

.option {
  margin-bottom: 0 !important;
}

.optionButton {
  padding: 0 0 0 1rem !important;
  padding-block: 0 !important;
}

.sectionTitle {
  margin-top: 0.75rem;
  padding-inline: 1rem;

  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}

.description {
  margin-top: 0.75rem;
  margin-bottom: 0;
  padding-inline: 1rem;
  color: var(--color-text-secondary);
}

.title {
  margin-bottom: 0;
  font-size: 1.1875rem;
}

.hasDepth {
  margin-top: 0;
}

.titleMultiline > .title {
  font-size: 1rem;
}

.subtitle {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.transition {
  overflow: hidden;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: height 0.25s ease-in-out;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;
}

.optionInfo {
  width: 100%;
  margin-bottom: 2rem;
}

.reportIcon {
  margin-bottom: 2rem;
}
