@use "../../../styles/mixins";

.ChatReportPane {
  @include mixins.header-pane;

  display: flex;
  align-items: center;

  body.no-page-transitions & {
    .ripple-container {
      display: none;
    }
  }

  &--Button {
    margin-left: 0.25rem;
    flex: 1 1 50%;
    white-space: nowrap;
  }

  &--Checkbox {
    margin-top: -1rem !important;
  }
}
