@use "../../../styles/mixins";

.root {
  @include mixins.middle-header-pane;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  padding-inline: 1rem;

  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.message {
  margin-bottom: 0.375rem;
  font-size: 1rem;
}

.messageStars {
  font-weight: var(--font-weight-medium);
}
