.root {
  overflow: auto;
  overscroll-behavior: contain;

  box-sizing: border-box;
  height: 100%;
  min-height: 0;
  padding: 1rem;

  background: var(--color-background);
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5rem;
}

.cell {
  padding: 0.375rem 0.5rem;
  border: 1px solid var(--color-borders);
  text-align: left;
  vertical-align: top;
}

.code {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
