.root {
  pointer-events: none;
  position: fixed;
  z-index: var(--z-overlay-effects);
  inset: 0;
}

.ghost {
  position: absolute;
  transform-origin: bottom;
  overflow: visible !important;
  animation: scale 1s ease-in forwards !important;
}

.elementContainer {
  overflow: visible;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
