.AttachmentModal {
  --border-radius-default: 0.625rem;

  .modal-dialog {
    max-width: 26.25rem;
    @media (max-width: 600px) {
      max-height: 100%;
    }
  }

  .modal-header-condensed {
    padding: 0.3125rem 0.5rem !important;
    border-bottom: 1px solid var(--color-borders);
  }

  .modal-content {
    padding: 0;
    max-height: calc(100vh - 3.25rem);

    overflow-x: auto;
  }

  .attachments-wrapper {
    max-height: 26rem;
    overflow: auto;
    flex-shrink: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 0.25rem;
    padding: 0.5rem 0.25rem;

    @media (max-width: 600px) {
      max-height: 80vh;
    }
  }

  .attachment-caption-wrapper {
    position: relative;
    margin: 0 0.5rem;

    &::before {
      content: '';
      position: absolute;
      left: -0.5rem;
      top: 0;
      right: -0.5rem;
      border-top: 1px solid var(--color-borders);
    }

    .form-control {
      background: var(--color-background);
    }

    .MentionTooltip {
      right: 0 !important;
      z-index: 0;
    }
  }

  .attachment-caption {
    display: flex;
    gap: 0.5rem;
  }

  .attachment-checkbox {
    margin-left: -1rem;
  }

  .drop-target {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: var(--border-radius-default);
      pointer-events: none;

      opacity: 0;
      transition: 250ms opacity;
      z-index: 1;
    }

    &::before {
      background-image: var(--drag-target-border-hovered);
      background-color: var(--color-background);
    }

    &::after {
      content: attr(data-attach-description);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-primary);
    }
  }

  &.hovered {
    .drop-target::before {
      opacity: 0.95;
    }

    .drop-target::after {
      opacity: 1;
    }

    .attachment-caption-wrapper,
    .attachments-wrapper,
    .input-scroller {
      pointer-events: none;
    }

    .document-wrapper,
    .media-wrapper {
      border-radius: var(--border-radius-default);
    }
  }

  &--send-wrapper {
    position: relative;
  }

  .CustomSendMenu {
    bottom: 2.25rem;

    .is-pointer-env & > .backdrop {
      width: 100%;
      top: -2rem;
      bottom: auto;
      height: 3.5rem;
    }
  }

  .AttachmentModal--send-wrapper {
    align-self: flex-end;
    margin-right: 0.25rem;
  }

  .AttachmentModal--send {
    height: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 0.25rem;
  }
}
