@use "../../../styles/mixins";

.BotKeyboardMenu {
  .bubble {
    width: 100% !important;
    max-width: 27rem;
    border-radius: var(--border-radius-default-small);
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0.1875rem 0.625rem;
    max-height: 75vh;
    overflow-y: scroll;

    @include mixins.adapt-padding-to-scrollbar(0.625rem);

    .row {
      display: flex;
      flex-direction: row;
    }

    .row + .row {
      margin-top: 0.375rem;
    }

    .Button {
      flex: 1;
      width: auto;
      height: auto;
      min-height: 3.0625rem;
      border-radius: var(--border-radius-messages-small);
      border: 2px solid var(--color-primary);
      background: var(--color-background);
      color: var(--color-primary);
      font-weight: var(--font-weight-medium);
      text-transform: none;

      &:hover {
        color: #fff;
        border-color: var(--color-primary-shade);
        background: var(--color-primary-shade);
      }
    }

    .Button + .Button {
      margin-left: 0.375rem;
    }
  }
}
