.root:global(.composer-tooltip) {
  z-index: 1;

  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;

  padding: 0;

  .emojiButton {
    --custom-emoji-size: 2rem;

    flex: 0 0 2rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
  }

  &:global(.open + .StickerTooltip) {
    transform: translateY(-3.25rem);
  }
}
