.EmojiTooltip {
  transform: none;

  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;

  padding: 0;

  transition: opacity var(--layer-transition);

  .EmojiButton {
    flex: 0 0 2.25rem;
    margin-right: 0;
  }
}
