@use "../../../styles/mixins";

.root {
  scrollbar-gutter: stable;

  position: relative;

  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: 100%;
  padding: 0 0.5rem 0.1875rem;
  border-radius: 1.125rem 1.125rem 0 0;

  @include mixins.adapt-padding-to-scrollbar(0.5rem);
}

.search {
  margin: 0.375rem 0 0.75rem;
}

.contentTransition {
  position: relative;
  height: auto;
  min-height: calc(100% - 3.5rem);

  > :global(.Transition_slide) {
    height: auto;
  }
}

.pickerDisabled {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;

  height: 15rem;
  padding: 1rem;

  color: var(--color-text-meta);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.125rem;
  align-content: start;

  background-color: var(--color-background);
}

.gifButton {
  overflow: hidden;
  aspect-ratio: 1;
}
