.GifPicker {
  position: relative;
  top: 0.1875rem;

  overflow-y: auto;

  height: calc(100% - 0.1875rem);
  margin: 0 0.1875rem;
  padding-bottom: 0.1875rem;
  border-radius: 1.125rem 1.125rem 0 0;

  .Loading, .picker-disabled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .SymbolMenu.mobile-menu & {
    border-radius: 0;
  }

  .bubble {
    border-radius: var(--border-radius-default) !important;
  }
}

.GifPickerGrid {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 6.25rem;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.125rem;
}
