html.theme-light {
  --backdrop-filter: blur(25px) saturate(190%) contrast(50%) brightness(130%);
  --border: 1px solid var(--color-borders);
}

html.theme-dark {
  --backdrop-filter: blur(20px) saturate(190%) contrast(70%) brightness(80%);
  --border: none;
}


.MentionTooltip {
  padding: 0.25rem !important;
  width: calc(100% - 4rem);
  max-width: 20rem;
  flex-direction: column;
  background: var(--color-cmdk);
  backdrop-filter: var( --backdrop-filter);
  border-radius: 0.5rem;
  border: var(--border);

  z-index: 0;

  @media (max-width: 600px) {
    width: calc(100% - 3rem);
  }

  .ListItem.focus {
    background-color: var(--color-background-compact-menu-hover);
  }

  .ListItem.chat-item-clickable {
    margin: 0;
    border-radius: 0.375rem;

    .ListItem-button {
      border-radius: 0.375rem;
    }

    .ListItem-button:hover {
      background-color: var(--color-background-compact-menu-hover);
    }


    .info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .title {
      margin-inline-end: 0.625rem;
      max-width: 70%;
    }

    .title h3 {
      font-size: 0.9375rem !important; 
    }

    .handle {
      font-size: 0.9375rem;
    }

    &[dir="rtl"] {
      .status {
        width: auto;
      }
    }
  }

  .ChatInfo {
    .title h3 {
      line-height: normal;
    }

    .Avatar {
      margin-right: 0.5rem;
    }

    .handle {
      &::before {
        content: "@";
      }
    }

    .user-status {
      display: none !important;
    }

    .custom-emoji {
      display: none !important;
    }
  }
}
