.MentionTooltip {
  z-index: -1;
  flex-direction: column;
  width: calc(100% - 4rem);
  max-width: 20rem;

  .ListItem.chat-item-clickable {
    margin: 0;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .title {
      max-width: 70%;
      margin-inline-end: 0.625rem;
    }

    .handle {
      font-size: 1rem;
    }

    &[dir="rtl"] {
      .status {
        width: auto;
      }
    }
  }

  .ChatInfo {
    .title h3 {
      line-height: 1.25;
    }

    .Avatar {
      margin-right: 0.7em;
    }

    .handle {
      &::before {
        content: "@";
      }
    }

    .user-status {
      display: none !important;
    }
  }

  @media (max-width: 600px) {
    width: calc(100% - 3rem);
  }
}
