@use '../../../styles/mixins';

.PollModal {
  .modal-dialog {
    max-width: 26.25rem;
    max-height: calc(100vh - 5rem);
  }

  .modal-content {
    min-height: 4.875rem;
  }

  .modal-header-condensed {
    margin-bottom: 1rem;
  }

  .options-header {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
  }

  .options-list {
    overflow: auto;
    overflow-y: scroll;

    max-height: 20rem;
    margin: 1rem -0.75rem -0.5rem;
    padding: 0 0.75rem;
    border-top: 1px solid var(--color-chat-hover);

    @include mixins.adapt-padding-to-scrollbar(0.75rem);

    @media (max-width: 600px) {
      overflow: hidden;
      max-height: none;
    }
  }

  .option-wrapper {
    position: relative;

    .form-control {
      padding-right: 3rem;
    }

    .option-remove-button {
      position: absolute;
      top: 0.125rem;
      right: 0.3125rem;
    }
  }

  .quiz-mode {
    margin-top: 1.5rem;

    .dialog-checkbox-group {
      margin: 0 -1.125rem;
    }

    .options-header {
      margin-bottom: 0.5rem;
    }

    .note {
      margin-top: -1rem;
    }
  }

  .note {
    font-size: smaller;
    color: var(--color-text-secondary);
  }

  .poll-error {
    margin: -1rem 0 1rem 0.25rem;
    font-size: smaller;
    color: var(--color-error);
  }

  .input-group:last-child {
    margin-bottom: 0.5rem;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    margin-left: -1.125rem;

    .Radio, &:hover {
      background-color: transparent;
    }
  }

  .Checkbox,
  .Radio {
    .Checkbox-main,
    .Radio-main {
      width: 100%;
      max-height: 3rem;
    }
  }
}
