.root {
  pointer-events: none;

  position: fixed;
  z-index: var(--z-round-video-recorder);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  width: min(22.5rem, 70vmin);
  height: min(22.5rem, 70vmin);
  border-radius: 50%;

  background-color: #000;
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.6);
}

.video {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.progressCircle {
  fill: none;
  stroke: rgba(255, 255, 255, 0.9);
  stroke-linecap: round;
}

.hidden {
  display: none;
}
