.root {
  --_size: 2rem;
  --custom-emoji-size: var(--_size);

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--_size);
  height: var(--_size);
  border-radius: var(--border-radius-messages-small) !important;

  :global(.AnimatedSticker) {
    width: 100%;
    height: 100%;
  }
}

.video,
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
