.WebPagePreview {
  height: 3.125rem;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: height 150ms ease-out, opacity 150ms ease-out;

  body.no-page-transitions & {
    transition: opacity 150ms ease-out;
  }

  .select-mode-active + .middle-column-footer & {
    display: none;
  }

  &:not(.open) {
    height: 0 !important;
  }

  // TODO Remove duplication with `.ComposerEmbeddedMessage`
  &_inner {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
  }

  --accent-color: var(--color-primary);

  .ComposerEmbeddedMessage + & {
    body.no-message-composer-animations & {
      transition: opacity 150ms ease-out;
    }
  }

  & &-left-icon {
    flex-shrink: 0;
    background: none !important;
    height: 2.625rem;
    padding: 0.5625rem 0.75rem 0.5625rem 1rem;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: var(--accent-color);

    @media (max-width: 600px) {
      width: 2.875rem;
    }
  }

  & &-clear {
    flex-shrink: 0;
    background: none !important;
    width: auto;
    height: 1.5rem;
    padding: 0;
    margin: 0.5625rem 1rem 0.5625rem 0.75rem;
    align-self: center;
    color: var(--accent-color);

    @media (max-width: 600px) {
      margin: 0.5625rem 0.75rem 0.5625rem 0.5rem;
    }
  }

  .WebPage {
    flex-grow: 1;
    max-width: calc(100% - 3.375rem);
    overflow: hidden;

    &.with-video .media-inner {
      display: none;
    }

    .site-title,
    .site-name,
    .site-description {
      flex: 1;
      max-width: 100%;
      max-height: 1rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .site-title {
      margin-top: 0.125rem;
      margin-bottom: 0.1875rem;
    }
  }
}
