.root {
  --accent-color: var(--color-primary);

  position: relative;

  flex-basis: 100%;

  min-width: 0;
  height: 0;
  margin-bottom: 0;
  /* stylelint-disable plugin/no-low-performance-animation-properties */
  transition:
    height var(--composer-embedded-message-duration) ease-out,
    margin-bottom var(--composer-embedded-message-duration) ease-out,
    opacity var(--composer-embedded-message-duration) ease-out;
  /* stylelint-enable plugin/no-low-performance-animation-properties */

  &:global(.open) {
    height: 2.5rem;
    margin-bottom: var(--composer-embedded-message-gap);
  }

  :global {
    body.no-page-transitions & {
      transition: opacity var(--composer-embedded-message-duration) ease-out;
    }

    .select-mode-active + .middle-column-footer & {
      display: none;
    }
  }
}

.inner {
  display: flex;
  gap: var(--composer-row-gap);
  align-items: center;
}

.contextMenu {
  position: absolute;

  :global(.bubble) {
    width: auto;
  }
}

.clear {
  flex-shrink: 0;
  align-self: center;

  width: auto !important;
  height: 1.5rem;
  margin: 0;
  padding-block: 0;
  padding-inline: var(--composer-icon-button-padding);

  color: var(--accent-color);

  background: none !important;
}

.left-icon {
  display: grid;
  flex-shrink: 0;
  place-content: center;

  padding: var(--composer-icon-button-padding);

  font-size: 1.5rem;
  color: var(--accent-color);

  background: none !important;
}

.preview {
  overflow: hidden;
  display: flex;
  flex-grow: 1;

  padding-block: 0.125rem;
  padding-inline: 0.5rem 0.375rem;
  border-radius: var(--composer-embed-radius);
}

.previewText {
  display: flex;
  flex-direction: column;

  min-width: 0;

  font-size: calc(var(--message-text-size, 1rem) - 0.0625rem);
  line-height: 1.125rem;
}

.previewImageContainer {
  position: relative;

  overflow: hidden;
  flex-shrink: 0;

  width: 2rem;
  height: 2rem;
  margin-block: 0.125rem;
  margin-inline: 0 0.375rem;
  border-radius: 0.25rem;
}

.previewImage {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.siteName,
.siteDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.siteDescription {
  color: var(--color-text);
}

.interactive {
  cursor: var(--custom-cursor, pointer);

  &:active {
    background-color: var(--background-active-color);
  }
}
