@use '../../../styles/mixins';

.centered {
  text-align: center !important;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem;
  position: relative;

  @include mixins.adapt-padding-to-scrollbar(0.5rem);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.starTitle {
  margin: 0;
}

.footer {
  margin: 1rem 0;
  color: var(--color-text-secondary);
}
