@use '../../../styles/mixins';

.root {
  z-index: calc(var(--z-modal-low-priority) + 1);
}

.root :global(.modal-content) {
  padding: 0;
}

.root :global(.modal-dialog) {
  height: min(calc(55vh + 41px + 193px), 90vh);
  max-width: 26.25rem;
}

.minimal :global(.modal-dialog) {
  height: auto;
}

.root :global(.modal-dialog),
.root :global(.modal-content),
.transition {
  overflow: hidden;
}

.main {
  height: 100%;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem;
  position: relative;

  @include mixins.adapt-padding-to-scrollbar(0.5rem);
  @include mixins.side-panel-section;
}

.sectionTitle {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
}

.tos {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  padding: 0.5rem 1rem;
  padding-top: 0;
}

.logo {
  margin: 1rem;
  width: 6.25rem;
  height: 6.25rem;
  min-height: 6.25rem;
}

.logoBackground {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  height: 8rem;
}

.headerHext {
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-inline: 0.5rem;
}

.description {
  text-align: center;
  margin-inline: 0.5rem;
  margin-bottom: 1rem;
  text-wrap: balance;
  line-height: 1.375;
}

.header {
  z-index: 2;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid var(--color-borders);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 3.5rem;
  padding: 0.5rem;
  background: var(--color-background);
  transition: 0.25s ease-out transform;
}

.starHeaderText {
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  margin: 0 0 0 3rem;
  unicode-bidi: plaintext;
}

.botItem {
  margin-bottom: 0.75rem;
}

.hiddenHeader {
  transform: translateY(-100%);
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 3;
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1;
}

.smallerText {
  font-size: 0.875rem;
}

.balanceBottom {
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.modalBalance {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  z-index: 3;
}

.starButton {
  grid-column: 1/-1;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-weight: var(--font-weight-medium);
}

.paymentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentImages {
  display: grid;
  grid-auto-columns: 3.5rem;
  grid-auto-flow: column;
  place-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.paymentPhoto {
  outline: 0.25rem solid var(--color-background);
  z-index: 1;
}

.avatarStar {
  font-size: 2rem;

  @include mixins.filter-outline(1px, var(--color-background));

  position: absolute;
  right: -1rem;
  bottom: 0;
  z-index: 1;
}

.paymentImageBackground {
  height: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paymentButton {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.paymentButtonStar {
  --color-fill: white !important;
}

.transactions, .subscriptions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  // Disable tabs rounded corners
  --border-radius-messages-small: 0;

  top: 3.5rem;
  padding-inline: 0;
}

.disclaimer {
  margin-top: 0.5rem;
  color: var(--color-text-secondary);
}

.amountBadge {
  background-image: var(--stars-gradient);
}

.loadMore {
  justify-content: flex-start;
  gap: 0.75rem;
}

.loadMoreIcon {
  display: grid;
  place-items: center;
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.5rem;
}
