.MediaViewerFooter {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 1rem 0;

  transition: opacity 0.15s;

  &.mobile {
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%);

    &.is-for-video {
      pointer-events: none;
      padding-bottom: 5rem;
      opacity: 0;

      .video-controls-visible &:not(.is-hidden) {
        pointer-events: auto;
        opacity: 1;
      }
    }
    .media-viewer-footer-content {
      z-index: 1;
      opacity: 1;
    }
    .media-text.multiline::before {
      display: none;
      background: none;
    }
  }

  body.ghost-animating & {
    opacity: 0;
  }

  .media-viewer-footer-content {
    cursor: var(--custom-cursor, pointer);

    position: relative;

    max-width: var(--messages-container-width);
    margin: auto;

    opacity: 0.5;

    transition: opacity 0.15s;

    &:hover {
      opacity: 1;
    }
  }

  &.is-hidden {
    opacity: 0;
  }

  .media-text {
    overflow: auto;

    max-height: 4.25rem;
    margin-bottom: 0;
    padding: 0 0.5rem;

    font-size: 0.9375rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    letter-spacing: 0.025rem;

    .emoji:not(.custom-emoji) {
      width: 0.9375rem;
      height: 0.9375rem;
      vertical-align: -2px;
    }

    &.multiline {
      &::before {
        content: "";

        position: absolute;
        z-index: var(--z-below);
        top: -0.25rem;
        right: -0.75rem;
        bottom: -0.25rem;
        left: -0.75rem;

        border-radius: var(--border-radius-default);

        background: rgba(0, 0, 0, 0.75);
      }
    }

    @media (max-height: 640px) {
      max-height: 2.75rem;
    }
  }

  a {
    color: var(--color-links);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .media-viewer-button {
    max-width: 20rem;
    height: 2.8125rem;
    margin-top: 0.5rem;
    border-radius: 0.6875rem;
  }

  @media (max-height: 640px) {
    padding: 0.5rem 0 0;
  }
}
