.MediaViewerActions {
  display: flex;
  margin-inline-start: auto;
  margin-inline-end: -0.375rem;

  .Button {
    margin-inline-start: 0.25rem;
    color: rgba(255, 255, 255, 0.5);
  }
}

.MediaViewerActions-mobile {
  position: relative;
  color: var(--color-text);

  .ProgressSpinner {
    position: absolute;
    top: 0;
    left: 0;
  }

  .Button {
    color: rgba(255, 255, 255, 0.5);
  }
}
