.MediaViewerActions {
  display: flex;
  margin-inline-start: auto;
  margin-inline-end: -.375rem;

  .Button {
    margin-inline-start: .25rem;
  }
}

.MediaViewerActions-mobile {
  position: relative;

  .ProgressSpinner {
    position: absolute;
    top: 0;
    left: 0;
  }
}
