.pan-wrapper,
.pan-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.pan-wrapper {
  cursor: move;
  user-select: none;
}

.pan-container {
  transition: transform .2s ease-in;

  .pan-wrapper.move & {
    transition: none;
  }

  .zoomed & {
    position: fixed;
    top: 0;
    left: 0;
  }
}
