.header {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: 1.25rem;
  text-align: center;
  padding-top: 0.5rem;
}

.footer {
  margin-top: 0.5rem;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.buttonAppeal {
  margin-bottom: 0.5rem;
}
