.ImmediaHeader {
  min-height: 110px;
}

.ImmediaBackground {
  background-color: transparent;
}

.Participants {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.MeParticipant {
  padding: 2px;
}

.videoStream {
  display: none;
}

.VideoName {
  border: 2px solid var(--color-chat-active);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.VideoNameParticipants {
  margin-right: 3px;
  border: 2px solid gray;
}

.CanvasVideo {
  margin: 5px;
}

.Nickname {
  font-size: 0.7em;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.OtherParticipants {
  padding: 2px;
  display:flex;
  flex-direction: row;
}