.videoStream {
  display: none;
}

.Participants {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.MainImmedia {
  width: 100%;
}

.CanvasVideo {
  margin: 5px;
}

.VideoName {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.Nickname {
  font-size: 0.7em;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.OtherParticipants {
  padding: 2px;
}

.MeParticipant {
  padding: 2px;
}