.item {
  &.green {
    border-left: 3px solid var(--color-telebiz-green);
  }
  &.yellow {
    border-left: 3px solid var(--color-telebiz-yellow);
  }
  &.red {
    border-left: 3px solid var(--color-telebiz-red);
  }
  &.white {
    border-left: 3px solid white;
  }
}
