.Album {
  position: relative;

  overflow: hidden;

  aspect-ratio: var(--album-aspect-ratio);
  width: var(--max-width);
  max-width: 100%;
  margin: auto;

  .message-content:not(.is-forwarded).media.text & {
    margin-block: -0.3125rem 0.3125rem;
  }

  .message-content:not(.is-inverted-media).has-subheader.media.text & {
    margin-top: 0.3125rem;
  }

  &,
  .message-content.media.text & {
    .album-item-select-wrapper .media-inner {
      margin: 0 !important;
    }
  }

  .album-item-select-wrapper {
    width: 100%;
    height: 100%;
  }

  .album-item-select-wrapper .media-inner {
    &,
    & img,
    & video {
      border-radius: 0 !important;
      object-fit: cover;
    }
  }
}
