.root {
  position: absolute;
  box-sizing: border-box;
}

.withLeftGap {
  padding-left: 0.0625rem;
}

.withTopGap {
  padding-top: 0.0625rem;
}

.withRightGap {
  padding-right: 0.0625rem;
}

.withBottomGap {
  padding-bottom: 0.0625rem;
}
