.Album {
  position: relative;
  overflow: hidden;
  margin: auto;

  .message-content:not(.is-forwarded).media.text & {
    margin: -0.3125rem -0.5rem 0.3125rem;
  }

  .message-content:not(.is-inverted-media).has-subheader.media.text & {
    margin-top: 0.3125rem;
  }

  &,
  .message-content.media.text & {
    > .album-item-select-wrapper .media-inner {
      margin: 0 !important;
    }
  }

  > .album-item-select-wrapper .media-inner {
    &,
    & img,
    & video {
      border-radius: 0 !important;
      object-fit: cover;
    }
  }
}
