.Game {
  .title {
    font-weight: var(--font-weight-medium);
  }

  .description {
    line-height: 1.2;
    margin-bottom: 0.75rem;
  }

  .preview {
    position: relative;
    max-width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    cursor: var(--custom-cursor, pointer);
  }

  .preview-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .skeleton {
    aspect-ratio: 16/9;

    @supports not (aspect-ratio: 16/9) {
      height: 0 !important;
      padding-bottom: 56.25%;
    }
  }
}
