.InlineButtons {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);

  .row {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  .Button.text.primary {
    flex: 1;
    width: auto;
    margin: 0.125rem;
    background: var(--color-background-own);
    border-radius: var(--border-radius-messages-small);
    font-weight: 500;
    text-transform: none;
    transition: background-color 150ms, color 150ms, backdrop-filter 150ms, filter 150ms;

    &:hover,
    &:focus {
      background: var(--color-background-secondary) !important;
      backdrop-filter: brightness(115%);
      --ripple-color: rgba(0, 0, 0, 0.08);

      @supports not (backdrop-filter: brightness(115%)) {
        filter: brightness(115%);
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .icon {
      font-size: 0.875rem;
      position: absolute;
      right: 0.1875rem;
      top: 0.1875rem;
      display: block;

      &.icon-arrow-right {
        font-size: 0.75rem;
        top: 0.125rem;
        right: 0.125rem;
        transform: rotate(-45deg);
      }
    }
  }

  .inline-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row:first-of-type .Button {
    margin-top: 0.25rem !important;
  }

  .row:last-of-type .Button {
    margin-bottom: 0;

    &:first-of-type {
      border-bottom-left-radius: var(--border-radius-messages);
    }

    &:last-of-type {
      border-bottom-right-radius: var(--border-radius-messages);
    }
  }
}
