.InlineButtons {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);

  .row {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  .Button {
    flex: 1;

    width: auto;
    margin: 0.125rem;
    border-radius: var(--border-radius-messages-small);

    font-weight: var(--font-weight-medium);
    text-transform: none;

    background: var(--action-message-bg);

    transition: background-color 150ms, color 150ms, backdrop-filter 150ms, filter 150ms;

    &:hover,
    &:focus {
      background: var(--action-message-bg) !important;
      backdrop-filter: brightness(115%);

      @supports not (backdrop-filter: brightness(115%)) {
        filter: brightness(115%);
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .corner-icon {
      position: absolute;
      top: 0.1875rem;
      right: 0.1875rem;

      display: block;

      font-size: 0.875rem;

      &.icon-arrow-right {
        top: 0.125rem;
        right: 0.125rem;
        transform: rotate(-45deg);
        font-size: 0.75rem;
      }
    }
  }

  .left-icon {
    margin-right: 0.25rem;
  }

  .inline-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row:first-of-type .Button {
    margin-top: 0.25rem !important;
  }

  .row:last-of-type .Button {
    margin-bottom: 0;

    &:first-of-type {
      border-bottom-left-radius: var(--border-radius-messages);
    }

    &:last-of-type {
      border-bottom-right-radius: var(--border-radius-messages);
    }
  }
}
