.InlineButtons {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
  }

  .Button {
    flex: 1;
    width: auto;
    margin: 0.125rem;
    background: var(--pattern-color);
    border-radius: var(--border-radius-messages-small);
    font-weight: 500;
    text-transform: none;

    &::before {
      content: '';
      background-color: var(--color-white);
      opacity: 0;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: var(--border-radius-messages-small);
      z-index: var(--z-below);
      transition: opacity 200ms;
    }

    &:hover {
      background: var(--pattern-color) !important;

      &::before {
        opacity: .4;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: .875rem;
      position: absolute;
      right: .1875rem;
      top: .1875rem;
      display: block;

      &.icon-arrow-right {
        font-size: .75rem;
        top: .125rem;
        right: .125rem;
        transform: rotate(-45deg);
      }
    }
  }

  .row:first-of-type .Button {
    margin-top: 0.25rem !important;
  }

  .row:last-of-type .Button {
    margin-bottom: 0;

    &:first-of-type {
      border-bottom-left-radius: var(--border-radius-messages);
    }

    &:last-of-type {
      border-bottom-right-radius: var(--border-radius-messages);
    }
  }
}
