.Invoice {
  .title {
    color: var(--accent-color);
    font-weight: 500;
    margin-bottom: 0;
  }

  .description {
    position: relative;
    margin-top: 0.5rem;

    &.has-image {
      .content-inner:not(.forwarded-message) & {
        margin: 0.5rem -0.5rem -0.375rem;
      }

      .message-content.has-reactions & {
        margin-bottom: 0;
      }

      .invoice-image {
        position: relative;
        width: 100%;
        max-width: 100%;
        max-height: 30rem;
        object-fit: cover;
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);

        .forwarded-message & {
          border-top-left-radius: var(--border-top-left-radius);
          border-top-right-radius: var(--border-top-right-radius);
        }
      }

      .description-text {
        position: absolute;
        top: 0;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: var(--border-radius-messages-small);
        color: var(--color-white);
        font-weight: 500;

        span {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .invoice-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
