.Invoice {
  .title {
    color: var(--accent-color);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0;
  }

  .info {
    line-height: 1.25;
  }

  .description {
    position: relative;
    margin-top: 0.5rem;

    .description-text {
      .star-amount-icon {
        margin-inline-start: 0;
      }
    }

    &.has-image {
      .content-inner:not(.forwarded-message) & {
        margin: 0.5rem -0.5rem -0.375rem;
      }

      .message-content.has-reactions & {
        margin-bottom: 0;
      }

      .invoice-image {
        position: relative;
        width: 100%;
        max-width: 100%;
        max-height: 30rem;
        object-fit: cover;
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);

        .forwarded-message & {
          border-top-left-radius: var(--border-top-left-radius);
          border-top-right-radius: var(--border-top-right-radius);
        }
      }

      .description-text {
        position: absolute;
        top: 0;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: var(--border-radius-messages-small);
        color: var(--color-white);
        font-weight: var(--font-weight-medium);
      }
    }

    .test-invoice {
      margin-left: 0.5rem;
    }

    .invoice-currency-icon {
      margin-inline-end: 0.125rem;
      line-height: 1.5;
    }
  }

  .invoice-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
