.Invoice {
  .title {
    color: var(--accent-color);
    font-weight: 500;
  }

  .description {
    position: relative;

    &.has-image {
      .invoice-image {
        max-width: 100%;
        height: 20rem;

        @media (max-width: 600px) {
          height: 10rem;
        }
      }

      .description-text {
        position: absolute;
        top: 0;
        padding: .25rem .5rem;
        margin: .25rem;
        background-color: rgba(90, 110, 70, 0.6);
        border-radius: var(--border-radius-messages-small);
        color: var(--color-text);
        font-weight: 500;
      }
    }

  }
}
