.anchor {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mirrorAnchor {
  right: auto;
  left: 0;
}

.root {
  pointer-events: none;
  position: fixed;
  z-index: var(--z-message-effect);
}

.mirror {
  transform: scaleX(-1);
}
