.MessageContextMenu {
  position: absolute;
  font-size: 1rem;

  .bubble {
    transform: scale(0.5);
    transition: opacity .15s cubic-bezier(0.2, 0, 0.2, 1), transform .15s cubic-bezier(0.2, 0, 0.2, 1) !important;
    overflow: auto;
    overflow: overlay;
  }

  .backdrop {
    touch-action: none;
  }

  .avatars {
    display: flex;
    align-self: center;
    margin-left: auto;
    padding-left: 1rem;

    .Avatar {
      border: .0625rem solid var(--color-background);
      margin-right: 0;
      box-sizing: content-box;

      &:not(:first-child) {
        margin-left: -0.1875rem;
      }
    }
  }
}
