.MessageContextMenu {
  position: absolute;
  font-size: 1rem;

  .bubble {
    transform: scale(0.5);
    transition: opacity .15s cubic-bezier(0.2, 0, 0.2, 1), transform .15s cubic-bezier(0.2, 0, 0.2, 1) !important;
  }

  .backdrop {
    position: absolute;
    touch-action: none;
  }
}
