.Poll {
  min-width: 15rem;
  text-align: initial;

  .poll-question {
    margin: 0.125rem 0;
    font-weight: var(--font-weight-medium);
    line-height: 1.25rem;
    overflow-wrap: anywhere;
  }

  .poll-type,
  .poll-voters-count {
    font-size: 0.875rem;
    color: var(--secondary-color);
  }

  .poll-type {
    display: flex;
    align-items: center;
    min-height: 1.375rem;
    margin-bottom: 0.5rem;
  }

  .poll-voters-count {
    margin: 0 0 1.125rem;
    text-align: center;
  }

  .Checkbox,
  .Radio {
    min-height: 2.5rem;
    padding-bottom: 1.25rem;
    padding-left: 2.25rem;

    &.disabled {
      cursor: var(--custom-cursor, not-allowed);
      opacity: 1 !important;
    }

    &:hover {
      background: none;
    }

    .Checkbox-main,
    .Radio-main {

      &::before {
        --color-borders-input: var(--secondary-color);

        top: 0.6875rem;
        left: 0.125rem;
        background-color: var(--background-color);
      }

      &::after {
        top: 0.6875rem;
        left: 0.4375rem;
        background-color: var(--accent-color);
      }
      .label {
        line-height: 1.3125rem;
      }
    }

    input:checked ~ .Radio-main,
    input:checked ~ .Checkbox-main {
      &::before {
        border-color: var(--accent-color);
      }
    }

    .Spinner {
      top: 0.6875rem;
      left: 0.125rem;
    }
  }

  .Checkbox {
    &.loading {
      .Spinner {
        top: 0;
      }
    }
    .Checkbox-main {
      &::after {
        left: 0.125rem;
        background-color: var(--accent-color);

        .theme-dark .Message.own & {
          color: var(--color-primary);
        }
      }
    }
  }

  .Spinner .Spinner__inner {
    // gray spinner
    background-image: var(--spinner-gray-data);

    .theme-dark & {
      background-image: var(--spinner-white-data);
    }

    .Message.own & {
      // green spinner
      background-image: var(--spinner-green-data);
      .theme-dark & {
        background-image: var(--spinner-white-data);
      }
    }
  }

  .poll-recent-voters {
    margin-left: 0.875rem;
  }

  .poll-countdown {
    margin-left: auto;
    font-size: 0.75rem;
    transition: color 0.2s;

    &.hurry-up {
      color: var(--color-error);

      .poll-countdown-progress {
        stroke: var(--color-error);
      }
    }

    svg {
      vertical-align: -3px;
    }
  }

  .poll-countdown-progress {
    fill: transparent;
    stroke: var(--color-primary);
    stroke-linecap: round;
    stroke-width: 2;

    transition: stroke-dashoffset 2s, stroke 0.2s;
  }

  .poll-quiz-help {
    margin: -0.625rem 0 -0.625rem auto;
    .Message:not(.own) & {
      color: var(--color-primary);
    }
  }

  .Button {
    font-size: 1rem;
    text-transform: none;

    .Message.own & {
      --color-primary-shade-rgb: var(--color-accent-own);

      color: var(--accent-color);
    }
  }

  > .Button {
    margin-bottom: 0.1875rem;
  }

  @media (max-width: 600px) {
    min-width: 50vw;
  }
}
