.ReactionSelectorReaction {
  margin-left: 0.5rem;
  position: relative;
  min-width: 2rem;
  min-height: 2rem;

  &:first-child {
    margin-left: 0;
  }

  &__static {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../assets/reaction-thumbs.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .AnimatedSticker {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--compact {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}
