.ReactionSelector {
  position: absolute;
  height: 3rem;
  background: var(--color-background);
  min-width: 3rem;
  max-width: calc(100% + 5rem);
  z-index: 100;
  border-radius: 3rem;
  filter: drop-shadow(0 0.25rem 0.125rem var(--color-default-shadow));
  right: -3rem;
  top: -3.5rem;

  &__bubble-big {
    border: 0.5rem solid var(--color-background);
    position: absolute;
    display: block;
    content: "";
    right: 1.5rem;
    bottom: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 0 50% 50%;
    z-index: -1;
  }

  &__bubble-small {
    position: absolute;
    display: block;
    content: "";
    right: 1.25rem;
    bottom: -1.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: var(--color-background);
  }

  body.is-safari & {
    filter: none;
    box-shadow: 0 0.25rem 0.125rem var(--color-default-shadow);
  }

  body.is-safari &__bubble-small,
  body.is-safari &__bubble-big {
    box-shadow: 0 0.25rem 0.125rem var(--color-default-shadow);
  }

  &__items-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3rem;
  }

  &__items {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow: overlay;
    overflow-y: hidden;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 3rem;
  }

  &--compact {
    background: var(--color-background-compact-menu-reactions);
    height: 2rem;
    top: -2.5rem;
  }

  &--compact &__items {
    padding: 0 0.5rem;
  }

  &--compact &__bubble-big {
    border-color: var(--color-background-compact-menu-reactions);
  }

  &--compact &__bubble-small {
    background: var(--color-background-compact-menu-reactions);
  }

  &__blocked-button {
    width: 2rem !important;
    height: 2rem !important;
    margin-left: 0.5rem !important;
  }

  &--compact &__blocked-button {
    width: 1.5rem !important;
    height: 1.5rem !important;

    i {
      font-size: 1.25rem;
    }
  }
}
