@use "message-content";

.SponsoredMessage {
  --border-top-left-radius: var(--border-radius-messages) !important;
  --border-bottom-left-radius: 0 !important;

  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  z-index: calc(var(--z-sticky-date) + 1);

  &::before {
    display: none;
  }

  &__button {
    --riple-color: var(var(--accent-background-active-color));

    margin-top: 0.375rem;
    margin-bottom: -0.375rem;
    border-top: 1px solid var(--accent-background-active-color, var(--active-color));

    color: var(--accent-color) !important;

    transition: opacity 0.2s ease-in;

    &:hover, &:active {
      background-color: transparent !important;
      opacity: 0.85;
    }
  }

  .message-type {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-inline-end: 0.25rem;

    text-transform: capitalize;
  }

  .content-inner, .message-peer {
    color: var(--color-text);
  }

  .message-action-buttons {
    bottom: auto !important;
    top: 0;
  }

  .message-content {
    padding: 0.5rem;
    --border-top-left-radius: var(--border-radius-messages);
    --border-top-right-radius: var(--border-radius-messages);
    --border-bottom-right-radius: var(--border-radius-messages);

    @media (max-width: 600px) {
      max-width: min(29rem, calc(100vw - 4.5rem)) !important;
    }
  }

  .channel-avatar {
    --radius: 0.25rem;

    float: right;
    margin: 0 0 0.5rem 0.5rem;

    &.is-rtl {
      float: left;
      margin: 0 0.5rem 0.5rem 0;
    }
  }

  .content-inner {
    padding-top: 0.25rem;
    padding-bottom: 0;
    font-size: calc(var(--message-text-size, 1rem) - 0.125rem);

    > .Button {
      border-radius: 0 0 0.375rem 0.375rem;
      border: none;
      background: none;
      margin-bottom: 0;
      line-height: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.0625rem;
        background: var(--accent-color);
        opacity: 0.25;
      }
    }

    .sponsored-action-icon {
      position: absolute;
      font-size: 0.75rem;
      top: 0.25rem;
      right: 0;
      transform: rotate(-45deg);
    }
  }

  .svg-appendix {
    transform: translate(0.01875rem, -0.00625rem);
  }

  .ad-about {
    font-size: 0.6875rem;
  }

  .has-media {
    padding-top: 0.5rem;
  }

  .media-inner {
    --border-bottom-left-radius: var(--border-radius-messages-small);
    --border-bottom-right-radius: var(--border-radius-messages-small);
    --border-top-left-radius: var(--border-radius-messages-small);
    --border-top-right-radius: var(--border-radius-messages-small);
  }
}
