.root {
  position: relative;
  contain: layout;
  overflow: visible !important;

  &:not(.inactive) {
    cursor: var(--custom-cursor, pointer);
  }
}

.mirrored {
  transform: scaleX(-1);
}

.inactive {
  pointer-events: none;
}

.effect {
  pointer-events: none;
  position: fixed;
  z-index: var(--z-message-effect);
}
