.root {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 12.5rem;
  margin-top: 0;
  padding-bottom: 0.75rem;
  padding-block: 2rem !important;
  border-radius: 0.25rem;

  font-weight: var(--font-weight-semibold);
}

.background {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.stickerWrapper {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  margin-block: 0.5rem;
}
