.StickerResult {
  cursor: var(--custom-cursor, pointer);

  position: relative;

  overflow: hidden;

  height: 0;
  padding-bottom: 100%;

  background: transparent no-repeat center;
  background-size: contain;

  transition: background-color 0.15s ease, opacity 0.3s ease !important;

  .AnimatedSticker,
  img,
  canvas {
    position: absolute;
    top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;
  }

  img {
    object-fit: contain;
  }
}
