.header,
.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titleContainer {
  padding-bottom: 0.5rem;
}

.profileBlock {
  position: relative;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.radialPattern {
  position: absolute;
  inset-inline-start: -1.5rem;
  height: calc(100% + 2rem);
  top: -3rem;
  width: calc(100% + 3rem);
  z-index: -1;
}

.lockIcon {
  font-size: 1rem;
  margin-left: 0.25rem;
}

.avatar {
  margin-top: 2rem;
}

.userTitle {
  font-size: 1.25rem;
  color: white;
  margin-top: auto;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
}

.status {
  font-size: 0.875rem;
  text-align: center;
  padding-bottom: 1rem;
}

.userTitle, .status {
  margin-bottom: 0;
  z-index: 1;
}

.giftTitle {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.infoDescription {
  text-align: center;
}

.footer {
  margin-top: 0.5rem;
  display: flex;
  align-self: stretch;
}
