.header,
.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profileBlock {
  position: relative;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.radialPattern {
  position: absolute;
  z-index: -1;
  top: -1rem;
  inset-inline-start: -1.5rem;

  width: calc(100% + 3rem);
  height: calc(100% + 1rem);
}

.lockIcon {
  margin-left: 0.25rem;
  font-size: 1rem;
}

.avatar {
  margin-top: 2.375rem;
}

.userTitle {
  justify-content: center;

  width: 100%;
  margin-top: auto;
  padding-top: 1.75rem;

  font-size: 1.25rem;
  color: white;
}

.status {
  font-size: 0.875rem;
  text-align: center;
}

.userTitle, .status {
  z-index: 1;
  margin-bottom: 0;
}

.giftTitle {
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.infoDescription {
  text-align: center;
}

.footer {
  display: flex;
  align-self: stretch;
}
