@layer ui.input {
  .root {
    cursor: var(--custom-cursor, pointer);

    display: flex;
    flex-shrink: 0;
    align-items: center;

    width: 1.875rem;
    height: 0.875rem;
    margin: 0;
    border-radius: 0.625rem;

    appearance: none;
    background-color: var(--ui-border-color, var(--color-borders-input));

    transition: background-color 0.15s ease, border-color 0.15s ease;

    &::before {
      content: "";

      transform: translateX(-0.125rem);

      display: block;

      width: 1.25rem;
      height: 1.25rem;
      border: 0.125rem solid var(--ui-border-color, var(--color-borders-input));
      border-radius: 50%;

      background-color: var(--ui-bg-color, var(--color-background));

      transition: transform 0.15s ease, border-color 0.15s ease;
    }

    &:checked {
      border-color: var(--ui-accent-color, var(--color-primary));
      background-color: var(--ui-accent-color, var(--color-primary));

      &::before {
        transform: translateX(0.75rem);
        border-color: var(--ui-accent-color, var(--color-primary));
      }
    }

    &:disabled {
      cursor: default;
      opacity: var(--input-disabled-opacity, 0.5);
    }

    &:focus-visible {
      outline: 2px solid var(--ui-accent-color, var(--color-primary));
      outline-offset: 2px;
    }
  }

  .permissionColors {
    background-color: var(--color-error);

    &::before {
      border-color: var(--color-error);
    }

    &:checked {
      border-color: var(--color-green);
      background-color: var(--color-green);

      &::before {
        border-color: var(--color-green);
      }
    }

    &:focus-visible {
      outline-color: var(--color-error);
    }

    &:checked:focus-visible {
      outline-color: var(--color-green);
    }
  }
}
