$icons-font: "icons";

@font-face {
  font-family: $icons-font;
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("./icons.woff2") format("woff2"), url("./icons.woff") format("woff");
}
