{
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "max-len": [
            "error",
            120
        ],
        "no-bitwise": "off",
        "no-underscore-dangle": "off",
        "no-null/no-null": "off"
    }
}
