/* FolderSelector.css */
.folderSelector {
  width: 480px;
  background: var(--color-interactive-element-hover);
  border-radius: 6px;
  margin-top: 1rem;
}

.folderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.folderItem:hover {
  background: var(--color-background-compact-menu-hover);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  gap: 0.625rem;
  justify-content: center;
}

.folderIcon {
  font-size: 1.25rem;
}

.folderTitle {
  flex-grow: 1;
  color:var(--color-text);
  font-size: 16px;
  line-height: 24px;
}

.selectedCheckmark {
  width: 24px;
  height: 24px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedCheckmark i {
  color: var(--color-white);
}

.unselectedCheckmark {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unselectedCheckmark i {
  color: var(--color-gray);
}
