.footer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
}

.footerButton {
  margin-top: 0.5rem;
}

.link {
  display: flex;
  justify-content: center;
}

.priceDecreaseTimer {
  font-size: 0.875rem;
  text-transform: none;
  opacity: 0.6;
}
