.authMessage {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-borders-input);
  border-radius: var(--border-radius-default);

  &-wrapper {
    color: var(--color-text-secondary);
  }

  &-logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
  }

  &-text {
    text-align: left;
  }
}
