.mini-items {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3125rem;
}

.control {
	.pin {
		position: relative;
		top: 1px;
	}
}

.temp {
	$padding: var(--ulu-sidebar-component-padding);
	margin: #{$padding} 0;
	
	&.first {
		border-top: 1px solid var(--color-borders-middle);
	}
}

.wrapper {
	&:hover {
		& .cross {
			display: flex;
		}
	}
}

.cross {
	// display: none; TODO
}