.telebiz-notifications-button {
  margin-left: 0.125rem;
  color: var(--text-primary);
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-bottom: -0.125rem;

  .dot {
    position: absolute;
    z-index: 1;
    top: 0rem;
    right: 0.125rem;

    width: 0.75rem;
    height: 0.75rem;
    border: 0.125rem solid var(--color-background);
    border-radius: 50%;

    background: var(--color-error);
  }
}
