.clickable {
  color: var(--color-primary);
  cursor: pointer;
}

.centered {
  text-align: center !important;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1rem;
  align-self: center;
}
