.clickable {
  cursor: pointer;
  color: var(--color-primary);
}

.centered {
  text-align: center !important;
}

.logo {
  align-self: center;
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1rem;
}
