.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.icon {
  display: grid;
  flex-shrink: 0;
  place-items: center;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-color: var(--color-primary);
}

.title, .description {
  padding: 0 1rem;
  text-align: center !important;
  text-wrap: pretty;
}

.title {
  margin-top: 1rem;
}
