.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.stealthIcon {
  display: grid;
  place-items: center;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  font-size: 3rem;

  background-color: var(--color-primary);
}

.title {
  margin-top: 0.75rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
}

.description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  text-align: center;
}

.listItem {
  align-self: stretch;
}

.icon {
  margin-right: 1rem !important;
  color: var(--color-primary) !important;
}

.button {
  margin-top: 1rem;
}

.subtitle {
  line-height: 1.25rem !important;
}
