.root {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  margin-bottom: env(safe-area-inset-bottom);

  color: #fff;

  transition: opacity 350ms !important;

  @media (max-width: 600px) {
    padding: 0 0.5rem 0.5rem;
  }
}

.viewInfo {
  display: flex;
  align-items: center;

  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-default);

  transition: background-color 200ms;
}

.interactive {
  cursor: var(--custom-cursor, pointer);

  &:hover {
    background-color: rgba(var(--color-text-secondary-rgb), 0.2);
  }
}

.avatars {
  margin-inline-end: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

.reactionCount {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  margin-inline-start: 0.5rem;
}

.reactionCountHeart {
  font-size: 1.25rem;
  color: var(--color-heart);
}

.footerItem {
  display: flex;
  align-items: center;

  &:last-child {
    padding-inline-end: 0.5rem;
  }

  & + & {
    margin-inline-end: 0.5rem;
  }
}

.views {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.viewIcon {
  font-size: 1.5rem;
}

.reactionButton {
  --custom-emoji-size: 1.5rem;

  overflow: visible !important;

  :global(.icon-heart) {
    transition: color 0.2s ease-out;
  }
}

.reactionHeart {
  color: var(--color-heart) !important;
}
