.ProfilePhoto {
  cursor: var(--custom-cursor, pointer);
  position: relative;
  width: 100%;
  height: 100%;

  .avatar-media {
    position: relative;
    width: 100%;
    object-fit: cover;
  }

  .spinner-wrapper {
    width: 100%;
    height: 100%;
  }

  .spinner-wrapper,
  &.deleted-account,
  &.replies-bot-account,
  &.no-photo,
  &.saved-messages {
    cursor: var(--custom-cursor, default);

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);

    background: linear-gradient(var(--color-white) -125%, var(--color-user));
  }

  &.no-photo {
    font-size: 14rem;
    white-space: nowrap;
  }

  &.replies-bot-account,
  &.deleted-account,
  &.saved-messages {
    font-size: 10rem;
  }

  .thumb {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  .thumb, .avatar-media {
    // @optimization
    &:not(.shown) {
      display: block !important;
    }
  }
}
