// This class is used in `ghostAnimation`, so we need to keep it global
.ProfileInfo {
  .fullName {
    margin-bottom: 0;

    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.375rem;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }

  .emoji:not(.custom-emoji) {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
  }

  .custom-emoji {
    --custom-emoji-size: 1.5rem;

    pointer-events: auto;
    cursor: var(--custom-cursor, pointer);
  }
}
