.root {
  --_y-shift: 50%;

  overflow: hidden;
  border-radius: inherit;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    inset: 0;

    background-image: radial-gradient(closest-side at 50% var(--_y-shift), var(--_bg-radial-1) 25%, var(--_bg-radial-2) 125%);
  }

  &.withLinearGradient {
    &::before {
      background-image:
        radial-gradient(closest-side at 50% var(--_y-shift), var(--_bg-radial-1) 25%, var(--_bg-radial-2) 125%),
        linear-gradient(var(--_bg-linear-1), var(--_bg-linear-2));
    }
  }
}

.canvas {
  pointer-events: none;

  position: relative;

  width: 100%;
  height: 100%;

  opacity: 0;
  object-fit: cover;

  transition: opacity 0.15s ease-out;

  &.showing {
    opacity: 1;
  }
}
