.root {
  overflow: hidden;
  border-radius: inherit;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
      radial-gradient(circle closest-side, #ffffff32, #ffffff00),
      radial-gradient(closest-side, var(--_bg-1), var(--_bg-2));
  }
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
