.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-height: min(92vh, 38rem) !important;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
}

.slider {
  margin-top: 2rem;
  flex-shrink: 0;
}

.description {
  margin-bottom: 1.5rem;
}

.title, .description {
  text-align: center;
}

.itemInfo {
  flex-grow: 1;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.itemTitle {
  line-height: 1rem;
  margin-bottom: 0.125rem;
}

.itemSubtitle {
  font-size: 0.9375rem;
  color: var(--color-text-secondary);
  line-height: 1rem;
}

.itemIcon {
  margin-left: 0.5rem;
  margin-right: 0 !important;
}

.sendAsPeerButtonAvatar {
  pointer-events: none;
}

.sendAsPeerMenuButton {
  transition: background-color 0.15s;
  margin-right: 0.25rem;
  border-radius: 1.5rem;
  padding: 0.25rem !important;
  width: auto;
  height: auto !important;
  background-color: var(--color-background-secondary) !important;

  &:global(.active),
  &:active,
  &:hover {
    background-color: rgba(var(--color-text-secondary-rgb), 0.15) !important;
  }
}

.buttonDownIcon {
  margin-left: 0.25rem;
  margin-right: 0.125rem;
}

.sendAsPeerMenuBubble {
  max-height: 15rem;
  overflow-y: auto !important;
  right: auto !important;
  left: 50%;
  transform: translateX(-50%) scale(0.85) !important;
  transform-origin: center !important;
  max-width: 16rem;

  &:global(.open) {
    transform: translateX(-50%) scale(1) !important;
  }
}

.sendAsPeerMenu {
  margin-right: 0.25rem;
}

.sendAsPeersMenuContainer {
  z-index: 3;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerControlPanel {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  z-index: 3;
}

.separator {
  margin-top: 1rem;
}

.checkBox {
  margin-block: 0.25rem !important;
}

.topLabel {
  background-image: var(--stars-gradient);
  color: var(--color-white);
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
}

.top {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.topBadge {
  background-image: var(--stars-gradient);
}

.buttonStar {
  margin-inline-start: 0.25rem;
}

.topPeer {
  overflow: hidden;
  flex-basis: 0;
  flex-grow: 1;
}

.disclaimer {
  font-size: 0.875rem;
  align-self: center;
  color: var(--color-text-secondary);
  margin-top: 0.5rem;
  margin-bottom: 0.125rem;
}
