.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-text-secondary);
	border-radius: 0.375rem;
	padding: 0.375rem 0.5rem 0.375rem 0.375rem;
	cursor: pointer;

	&:hover {
		background-color: var(--color-chat-hover);
		color: var(--color-text);
	}

	&.active {
		background-color: var(--color-chat-active);
		color: var(--color-text);

		.unread {
			color: var(--color-text);
		}
	}
}

.unread {
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1rem;
	color: var(--color-chat-active-greyed);
}

.info {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.iconWrapper {
	pointer-events: none;
	height: 1.25rem;
	width: 1.25rem;
}

.total-unread {
	color: var(--color-text-meta-colored);
}