.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-text);
	border-radius: 0.375rem;
	padding: 0.375rem 0.5rem 0.375rem 0.375rem;
	cursor: pointer;

	&:hover {
		background-color: var(--color-interactive-element-hover);
		// color: var(--color-text);

		.unread {
			background-color: var(--color-forum-hover-unread-topic-hover);
			// color: var(--color-text);
		}
	}

	&.active {
		$active-background-color: var(--color-chat-active); 
		$active-text-color: var(--color-text);

		background-color: $active-background-color;
		color: $active-text-color;

		.unread {
			background-color: $active-text-color;
			color: var(--color-forum-hover-unread-topic-hover) !important;
		}
	}

	&.has-unread-messages {
		color: var(--color-text);
	}
}

.unread {
	font-size: 0.75rem;
	font-style: normal;
	line-height: 1rem;
	font-weight: 500;
	background-color: var(--color-forum-hover-unread-topic-hover);
	border-radius: 0.25rem;
	padding: 0 0.1875rem;
}

.info {
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.title {
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem;
}

.iconWrapper {
	pointer-events: none;
	height: 1.25rem;
	width: 1.25rem;
}

