.ReactionStaticEmoji {
  width: 1rem;
  display: block;

  // Unicorn reaction preview is too small
  &.with-unicorn-fix {
    transform: scale(2);
  }

  &.icon-heart {
    color: var(--color-heart) !important;
    margin: 0 !important;
  }
}
