.root :global(.modal-content) {
  padding: 0;
}

.root :global(.modal-dialog) {
  max-width: 55vh;
}

.root :global(.modal-dialog), .root :global(.modal-content) {
  overflow: hidden;
}

.picker {
  height: 75vh;
}
