@use '../../../styles/mixins';

.root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.graph {
  margin-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--color-borders);

  opacity: 1;
  transition: opacity 0.3s ease;

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }

  &.hidden {
    opacity: 0;
    margin: 0;
  }
}

.ready {
  overflow-y: scroll !important;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.75rem;
  border-bottom: 0.0625rem solid var(--color-borders);
}

.topText {
  display: block;
}

.availableReward {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  line-height: 1.6875rem;
}

.rewardValue {
  font-size: 1.875rem;
}

.decimalPart {
  font-size: 1.375rem;
}

.integer {
  font-size: 1rem;
}

.decimalUsdPart {
  font-size: 0.6875rem;
}

.toncoinIcon {
  font-size: 1.5rem;
  margin-inline: 0 0.5rem;
  color: var(--color-primary);
}

.textBottom {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}
