.StatisticsOverview {
  padding: 1rem 0.75rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-borders);

  &--title {
    padding-left: 0.25rem;
    font-size: 16px;
    color: var(--text-color);
    line-height: 30px;
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &--table {
    width: 100%;

    &-heading {
      font-size: 0.9375rem;
      color: var(--color-text-secondary);
    }

    &-value {
      font-weight: 500;
      font-size: 1rem;
    }
  }

  &--value {
    font-size: 0.6875rem;
    color: var(--color-text-green);

    &.negative {
      color: var(--color-error);
    }
  }
}
