.root {

  :global(.modal-dialog) {
    overflow: hidden;
    width: 26.25rem;
  }

  :global(.modal-content) {
    padding-bottom: 1rem;
    padding-inline: 1rem;
  }

  :global(.ListItem) {
    :global(.ListItem-button) {
      align-items: flex-start;
      padding-inline: 1.5rem;
    }

    :global(.ListItem-main-icon) {
      margin-top: 0.875rem;
      margin-right: 0.875rem;
      font-size: 1.5rem;
      color: var(--accent-color);
    }

    :global(.multiline-item .subtitle) {
      margin-top: 0.125rem;
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }

  :global(.Checkbox-main) {
    &::before,
    &::after {
      left: 2.25rem;
    }
  }

  :global(.Checkbox) {
    padding-inline-start: 4.5rem;
  }
}

.secondary {
  color: var(--color-text-secondary);
}

.topIcon {
  display: grid;
  flex-shrink: 0;
  place-items: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  font-size: 4rem;
  color: var(--color-white);

  background: var(--color-primary);
}

.premiumGradient {
  --premium-gradient: linear-gradient(88.39deg, #6C93FF -2.56%, #976FFF 51.27%, #DF69D1 107.39%);

  background: var(--premium-gradient);
}

.content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.listItem {
  padding-bottom: 0.5rem;
}

.listItemTitle {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.separator {
  width: calc(100% + 2rem); // Hack to cover modal paddings
  margin-block: 1rem;
}
