.root :global(.modal-dialog) {
  overflow: hidden;
  width: 26.25rem;
}

.title {
  font-weight: var(--font-weight-medium);
}

.secondary {
  color: var(--color-text-secondary);
}

.topIcon {
  display: grid;
  flex-shrink: 0;
  place-items: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  font-size: 4rem;
  color: var(--color-white);

  background: var(--color-primary);
}

.premiumGradient {
  --premium-gradient: linear-gradient(88.39deg, #6C93FF -2.56%, #976FFF 51.27%, #DF69D1 107.39%);

  background: var(--premium-gradient);
}

.listItemIcon {
  font-size: 1.875rem !important;
  color: var(--accent-color) !important;
}

.content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.separator {
  width: calc(100% + 2rem); // Hack to cover modal paddings
  margin-block: 1rem;
}
