@use '../../../styles/mixins';

.content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-height: min(92vh, 45rem) !important;
  padding-inline: 1rem !important;
}

.title {
  background-color: var(--color-background-secondary);
}

.value {
  min-width: 2rem;
  overflow-wrap: anywhere;
  background-color: var(--color-background);
}

.table {
  overflow: hidden;
  display: grid;
  grid-template-columns: max-content 1fr;
  flex-shrink: 0;
  gap: 1px;

  border: 1px solid var(--color-borders);
  border-radius: 0.3125rem;

  background-color: var(--color-borders);
}

.noFooter {
  margin-top: 1.5rem;
}

.cell {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 2.5rem;
  padding: 0.25rem 0.5rem;

  font-size: 0.9375rem;
}

.fullWidth {
  grid-column: 1 / -1;
}

.avatar {
  align-self: center;
}

.chatItem {
  width: fit-content;
  color: var(--color-primary);
  background-color: var(--color-background);
}
