@use '../../../styles/mixins';

@layer ui.layout {
  .root {
    --surface-inline-padding: 1rem;

    padding-inline: var(--surface-inline-padding);
    background-color: var(--color-background-secondary);
  }

  .scrollable {
    scrollbar-gutter: stable;
    overflow-y: auto;

    @include mixins.adapt-padding-to-scrollbar(var(--surface-inline-padding));
  }

  .noPadding {
    --surface-inline-padding: 0rem;

    padding-inline: 0;
  }

  .breakout {
    margin-inline: calc(-1 * var(--surface-inline-padding, 0rem));
  }
}
