@layer ui.layout {
  .root {
    --surface-inline-padding: 1rem 1rem;
    --surface-breakout-margin: -1rem -1rem;

    padding-inline: var(--surface-inline-padding);
    background-color: var(--color-background-secondary);
  }

  .scrollable {
    --surface-inline-padding: 1rem calc(max(1rem - var(--scrollbar-width), 0px));
    --surface-breakout-margin: -1rem calc(0rem - max(1rem - var(--scrollbar-width), 0px));

    scrollbar-gutter: stable;
    overflow-y: auto;
  }

  .noPadding {
    --surface-inline-padding: 0rem 0rem;
    --surface-breakout-margin: 0rem 0rem;
  }

  .breakout {
    margin-inline: var(--surface-breakout-margin, 0rem 0rem);
  }
}
