.contacts_and_premium_option-title {
  cursor: pointer;
}

.lock-icon {
  font-size: 1.25rem;
  position: absolute;
  left: 1.0625rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-gray);
}
