@use "../../../styles/mixins";

#Settings {
  height: -webkit-fill-available;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-borders-middle);
  border-radius: var(--border-radius-default);
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 3.5rem;
  width: auto;

  > .Transition_slide {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .left-header {
    padding-right: 0.5rem;
    @media (max-width: 600px) {
      padding-right: 0.8125rem;
    }
  }

  @media (max-width: 600px) {
    height: 100%;
    background: inherit;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0rem;
  }
}

body.is-electron.is-macos #Settings {
  margin-top: 0rem;
}

.settings-main-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.settings-more-menu {
  .bubble {
    width: auto;

    .MenuItem button {
      padding-left: 1rem !important;
      padding-right: 2rem !important;
    }
  }
}

.settings-content {
  border-top: 1px solid var(--color-borders-middle);
  height: calc(100% - var(--header-height));

  overflow-y: scroll;

  &.no-border, &.two-fa, &.local-passcode, &.password-form {
    border-top: none;
  }

  &.password-form .input-group.error label::first-letter {
    text-transform: uppercase;
  }

  &.infinite-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    & > .custom-scroll {
      flex: 1 1 auto;
      height: auto;
    }
  }

  .settings-icon-locked {
    align-self: center;
    margin-right: 0.25rem !important;
    font-size: 1rem !important;
  }

  #monkey {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .AnimatedEmoji {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

.settings-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 1rem;
  text-align: center;
  margin-bottom: 0.625rem;

  @include mixins.side-panel-section;

  &.no-border {
    margin-bottom: 0;
    box-shadow: none;
  }

  .input-group {
    width: 100%;
  }
}

.settings-content-icon {
  margin-bottom: 2.5rem;

  &.opacity-transition.not-shown {
    display: block;
    visibility: hidden;
  }
}

.settings-main-menu-premium .PremiumIcon {
  margin-right: 2rem;
}

.settings-main-menu {
  padding: 0.5rem;
  @include mixins.side-panel-section;

  @media (min-width: 600px) {
    background-color: transparent;
  }

  > .ChatExtra {
    padding: 0 0.5rem 0.3125rem;
    margin: 0 -0.5rem 0.625rem;
    @include mixins.side-panel-section;

    .ListItem.narrow {
      margin-bottom: 0.25rem;
    }
    @media (min-width: 600px) {
      background-color: transparent;
    }
  }
}

.settings-item-simple,
.settings-item {
  padding: 1.5rem 1.5rem 1rem;
  @include mixins.side-panel-section;
}

.settings-item {
  &.no-border {
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: none;
  }

  &-header {
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 2rem;
    position: relative;

    &[dir="rtl"] {
      text-align: right;
    }
  }

  &-slider {
    margin-top: 2rem;
  }

  &-description {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;

    .settings-content.two-fa &,
    .settings-content.password-form &,
    .settings-content.local-passcode & {
      font-size: 1rem;
    }

    .settings-edit-profile & {
      margin-bottom: 0;
      padding-bottom: 1.5rem;
    }

    &[dir="rtl"] {
      text-align: right;
      unicode-bidi: plaintext;
    }
  }

  &-description-larger {
    font-size: 1rem;
    line-height: 1.3125rem;
    color: var(--color-text-secondary);
    margin-top: 2rem;
    margin-bottom: 0.75rem;

    &[dir="rtl"] {
      text-align: right;
    }
  }

  .ListItem {
    margin: 0 -1rem 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .multiline-menu-item {
      white-space: initial;
      flex-grow: 1;

      &.full-size {
        width: 100%;
        overflow: hidden;
      }

      .date {
        float: right;
        font-size: 0.75rem;
        margin-left: 1rem;
        color: var(--color-text-secondary);
      }

      .title,
      .subtitle {
        display: block;
        text-align: left;
      }

      .title {
        line-height: 1.25rem;
      }

      .subtitle {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--color-text-secondary);

        & + .subtitle {
          margin-top: -0.25rem;
        }

        &.black {
          color: var(--color-text);
        }

        &.tight {
          line-height: 1.3125rem;
          margin-bottom: 0.1875rem;
        }
      }
    }

    &.destructive {
      .ListItem-button {
        color: var(--color-error);

        .icon {
          color: inherit;
        }
      }
    }

    &.blocked-list-item {
      margin-bottom: 0.5rem;

      .ListItem-button {
        align-items: center;
        text-align: left;
        padding: 0.5rem;
      }

      .Avatar {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }

      .contact-info {
        overflow: hidden;
      }

      .contact-name {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0.25rem;
        font-weight: 500;
      }

      .contact-phone {
        font-size: 0.875rem;
        line-height: 1rem;
        color: var(--color-text-secondary);
      }
    }

    &[dir="rtl"] {
      .multiline-menu-item {
        .title,
        .subtitle {
          text-align: right;
        }

        .date {
          float: left;
          margin-left: 0;
          margin-right: 1rem;
        }
      }
    }
  }

  .RangeSlider {
    margin-bottom: 1.0625rem;
  }

  .Checkbox,
  .radio-group {
    margin: 0 -1rem 0.5rem;
  }

  .radio-group {
    .Radio:last-child {
      margin-bottom: 0;
    }

    .Checkbox {
      margin-left: 0;
    }
  }

  .Radio + .Radio,
  .Checkbox + .Checkbox {
    margin-top: 2rem;
  }

  &__current-value {
    margin-inline-start: auto;
    padding-inline-start: 0.5rem;
    font-size: 0.9375rem;
    color: var(--color-text-secondary);
  }
}

.settings-fab-wrapper {
  height: calc(100% - var(--header-height));
  position: relative;
  overflow: hidden;

  .settings-content {
    height: 100%;
  }

  .FloatingActionButton {
    right: 1.5rem;

    &[dir="rtl"] {
      right: auto;
      left: 1.5rem
    }
  }
}

.settings-edit-profile {
  padding: 0 1.5rem;
}

.settings-quick-reaction {
  .Radio-main .label {
    display: flex;
    align-items: center;
  }

  .ReactionStaticEmoji {
    margin-inline-end: 1rem;
    width: 1.5rem;
  }
}

.settings-dropdown-section {
  margin: 0 -0.75rem 1rem -1rem;

  .DropdownList {
    position: relative;

    &--open {
      transform: translate(0, 0);
    }
  }
}

.SettingsDefaultReaction {
  .current-default-reaction {
    margin-inline-end: 2rem;
  }
}

.settings-item-chatlist {
  padding: 0;
}

.settings-item-chatlist .ListItem {
  margin: inherit;
}
