.SettingsActiveSession {
  :global(.modal-dialog) {
    max-width: 28rem;
  }
}

.iconDevice {
  --icon-backdrop-size: 5rem;
  --icon-backdrop-radius: 1.6875rem;
  --icon-backdrop-icon-size: 4rem;

  margin: 0 auto 1rem;
}

.title {
  margin-bottom: 0.25rem;
  text-align: center;
}

.note,
.date {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  text-align: center;
}

.box {
  margin: 1rem 0;
  padding: 1rem 1rem 0.5rem;
  border-radius: var(--border-radius-default);
  background: var(--color-background-secondary);
}

.actionHeader {
  margin-top: 1px;
}

.actionName {
  margin-right: auto;
}
