.SettingsGeneralBackground {
  .settings-wallpapers {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 0.25rem;
  }

  .Loading {
    height: auto !important;
    margin-top: 5rem;
  }
}
