.root, .item {
  display: flex;
  flex-direction: column;
}

.item {
  overflow: hidden;
  min-height: 25rem;
  padding-bottom: 0 !important;
}

.checkbox {
  margin-right: 0 !important;
}

.languages {
  overflow-y: auto;
  margin-bottom: 0 !important;
}
