@use "../../../styles/mixins";

.SettingsGeneralBackground {
  .settings-wallpapers {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.0625rem;

    @include mixins.side-panel-section;
  }

  .Loading {
    height: auto !important;
    margin-top: 5rem;
  }
}
