@use "../../../styles/mixins";

.Management {
  position: relative;
  height: 100%;

  & > .custom-scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .personal-photo {
    margin-right: 2rem;
    transform: scale(1.25);
  }

  .section {
    padding: 1rem 0.5rem;

    @include mixins.adapt-padding-to-scrollbar(0.5rem);
    @include mixins.side-panel-section;

    &.wide {
      padding: 1.5rem;
    }

    &:first-of-type {
      padding-top: 1rem;
    }

    &.no-border {
      border-top: none;
    }

    &.section-with-fab {
      padding-bottom: 3.5rem;
    }

    > .ChatInfo {
      margin: 0 0 2rem !important;

      .title h3 {
        margin-bottom: 0;
      }
    }

    .section-icon {
      margin: 0 auto 2rem;
    }

    .ListItem {
      .Reaction {
        display: flex;
        align-items: center;
      }

      .ReactionStaticEmoji {
        width: 1.5rem;
        margin-right: 1.6875rem;
      }

      &.with-checkbox {
        body.is-ios &::after,
        body.is-android &::after {
          bottom: -1rem;
        }
      }

      &.exceptions-member {
        .ChatInfo .status {
          white-space: pre-wrap;
        }
      }
    }

    .section-heading {
      font-size: 1rem;
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-secondary);
      padding-inline-start: 1rem;
      position: relative;

      &[dir="auto"] {
        text-align: initial;
      }
    }

    .section-help {
      padding: 0 1rem;

      color: var(--color-text-secondary);
      line-height: 1.375rem;

      &[dir="auto"] {
        text-align: initial;
      }
    }

    .section-info {
      color: var(--color-text-secondary);
      font-size: 0.875rem;
      padding: 0 1rem;
    }

    .section-info_push {
      margin-top: 0.25rem;
    }

    &[dir="rtl"] {
      text-align: right;
    }
  }

  textarea.form-control {
    height: auto;
  }

  .group-link {
    color: var(--color-text);
    padding-left: 1rem;
  }

  .RangeSlider {
    margin-top: 2rem;
    margin-inline-start: 1rem;
  }

  .button-position {
    justify-content: initial;
  }

  &__filter {
    padding: 0 1rem 0.25rem 0.75rem;
    margin-bottom: 0.625rem;

    @include mixins.side-panel-section;

    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;

    overflow-y: auto;
    max-height: 20rem;

    .input-group {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      flex-grow: 1;
    }

    .form-control {
      height: 2rem;
      border: none;
      border-radius: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  .Spinner {
    margin: 2rem auto;
  }
}

.ManageGroupMembers {
  padding: 0.5rem 1rem;
}

.ManageInvites {
  .create-link {
    margin-bottom: 0.5rem;
  }

  .ListItem-button {
    align-items: center;
  }

  .link-status-icon {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.5rem;
    position: static !important;
    color: white !important;
    margin-right: 1rem !important;

    &-gray {
      background-color: #707579;
    }

    &-green {
      background-color: #4fae4e;
    }

    &-red {
      background-color: #e17076;
    }

    &-blue {
      background-color: #3390ec;
    }
  }

  .invite-title {
    white-space: nowrap;
  }
}

.ManageInvite {
  .link-name {
    margin-bottom: 1rem;
  }

  .expire-limit {
    margin-top: 1rem;
  }

  .usage-limit {
    margin-top: 1rem;

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .custom-scroll {
    padding-bottom: 4rem;
  }
}

.ManageInviteInfo {
  .copy-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .link-title {
    text-align: center;
  }
}

.ManageJoinRequests {
  .bulk-actions {
    display: flex;
    justify-content: space-around;
  }

  .bulk-action-button {
    width: auto;
    height: auto;
  }
}

.ManageInvite,
.ManageInvites {
  .hint {
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}

.DropdownList {
  transition: 0.25s ease-in-out transform;
  transform: translateY(calc(-100%));
  position: absolute;
  width: 100%;
  left: 0.125rem;
  padding: 0 0.5rem 0 3.5rem;
  background: var(--color-background);

  &--open {
    transform: translateY(0.025rem);
  }
}

.DropdownListTrap {
  height: 0;
  width: 100%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--before-shift-height) + 2.5rem);
    background: var(--color-background);
    content: "";
    z-index: 1;
  }
}

.with-shifted-dropdown {
  .ListItem, .section-heading {
    position: relative;
    z-index: 2;
  }

  .without-bottom-shadow {
    box-shadow: none;
    padding-bottom: 0;
  }

  .part {
    margin: 0 -1.5rem;
    padding: 0 1.5rem 1rem;

    @include mixins.side-panel-section;
  }

  .section, .part {
    position: relative;
    transition: 0.25s ease-in-out transform;

    &.shifted {
      transform: translateY(var(--shift-height));
    }
  }
}

.settings-edit {
  padding: 0 1rem !important;
}
