.Management {
  position: relative;
  height: 100%;

  & > .custom-scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .section {
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--color-borders);

    &.wide {
      padding: 1.5rem;
    }

    &:first-of-type {
      border-top: none;
      padding-top: 1rem;
    }

    &.no-border {
      border-top: none;
    }

    > .ChatInfo {
      margin: 0 0 2rem !important;

      .title h3 {
        margin-bottom: 0;
      }
    }

    .section-icon {
      width: 8.75rem;
      height: 8.75rem;
      margin: 0 auto 2rem;
      position: relative;

      .AnimatedSticker {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &.hidden {
          display: none;
        }
      }
    }

    .ListItem {
      margin: 0 -0.75rem;

      .Reaction {
        display: flex;
        align-items: center;
      }

      .ReactionStaticEmoji {
        width: 1.5rem;
        margin-right: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .multiline-item .subtitle {
        line-height: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:not(.picker-list-item) .Checkbox {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      &.narrow {
        .Checkbox {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }

      &.exceptions-member {
        .ChatInfo .status {
          white-space: pre-wrap;
        }
      }
    }

    .section-heading {
      font-weight: 500;
      font-size: 0.9375rem;
      color: var(--color-text-secondary);

      &[dir="auto"] {
        text-align: initial;
      }
    }

    .section-help {
      color: var(--color-text-secondary);
      line-height: 1.375rem;

      &[dir="auto"] {
        text-align: initial;
      }
    }

    .section-info {
      color: var(--color-text-secondary);
      font-size: 0.875rem;
    }

    &[dir="rtl"] {
      text-align: right;
    }
  }

  textarea.form-control {
    height: auto;
  }

  .group-link {
    color: var(--color-text);
  }

  .radio-group {
    margin-top: 2rem;

    .Radio {
      padding-left: 3.5rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0.625rem;
      }
    }

    .Radio-main {
      &::before {
        left: 0.125rem;
        top: 0.25rem;
        transform: none;
      }

      &::after {
        left: 0.4375rem;
        top: 0.5625rem;
        transform: none;
      }
    }
  }
}

.ManageGroupMembers {
  padding: 0.5rem 1rem;
}

.ManageInvites {
  .primary-link {
    position: relative;
  }

  .primary-link-input {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .primary-link-more-menu {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
  }

  .create-link {
    margin-bottom: 0.5rem;
  }
}

.ManageInvite {
  .link-name {
    margin-bottom: 1rem;
  }

  .expire-limit {
    margin-top: 1rem;
  }

  .usage-limit {
    margin-top: 1rem;

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.ManageInviteInfo {
  .copy-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.ManageJoinRequests {
  .bulk-actions {
    display: flex;
    justify-content: space-around;
  }

  .bulk-action-button {
    width: auto;
    height: auto;
  }
}

.ManageInvite, .ManageInvites {
  .hint {
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}
