.wrapper {
  display: flex;
  gap: 0.25rem;
  padding-top: 0.25rem;
}

.tag {
  --custom-emoji-size: 0.75rem;

  position: relative;

  flex-shrink: 0;

  min-width: 1.5rem;
  padding: 0 0.25rem;
  border-radius: 0.25rem;

  font-size: 0.625rem;
  font-weight: var(--font-weight-medium);
  line-height: 0.875rem;
  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--accent-background-color);

  &ColorMore {
    color: var(--color-text-secondary);
  }
}
