.Chat {
  --background-color: var(--color-background);
  --thumbs-background: var(--background-color);

  body.is-ios &,
  body.is-macos & {
    --color-text-meta: var(--color-text-meta-apple);
  }

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;

  &.animate-opacity {
    will-change: opacity;
    transition: opacity 0.2s ease-out;
  }

  &.animate-transform {
    will-change: transform;
    transition: transform 0.2s ease-out;
  }

  &:hover,
  &.ListItem.has-menu-open {
    .Avatar.online::after {
      border-color: var(--color-chat-hover);
    }

    .status-badge-wrapper {
      --outline-color: var(--color-chat-hover);
    }

    .ChatCallStatus {
      border-color: var(--color-chat-hover);
    }
  }

  &:last-of-type {
    padding-bottom: 0.5rem;
  }

  @media (max-width: 600px) {
    &.selected {
      --background-color: var(--color-chat-hover) !important;

      .Avatar.online::after {
        border-color: var(--color-chat-hover);
      }

      .ChatCallStatus {
        border-color: var(--color-chat-hover);
      }
    }

    &.active-forum {
      .status-badge-wrapper {
        --outline-color: var(--color-chat-hover);
      }
    }
  }

  @media (min-width: 600px) {
    &.active-forum.forum,
    &.active-forum.forum:hover {
      .status-badge-wrapper {
        --outline-color: var(--color-chat-hover);
      }
    }

    &.selected:not(.forum),
    &.selected:not(.forum):hover {
      --background-color: var(--color-chat-active) !important;

      .custom-emoji.custom-color {
        --emoji-status-color: var(--color-white);
      }

      .VerifiedIcon, .PremiumIcon {
        --color-fill: #fff;
        --color-checkmark: var(--color-primary)
      }

      .Avatar.online::after {
        border-color: var(--color-chat-active) !important;
        background: var(--color-white);
      }

      .ChatCallStatus {
        border-color: var(--color-chat-active) !important;
      }

      .ListItem-button {
        --background-color: var(--color-chat-active) !important;
        --color-text: var(--color-white);
        --color-text-meta-colored: var(--color-white);
        --color-text-meta: var(--color-white);
        --color-text-secondary: var(--color-white);
        --color-error: var(--color-white);
        --color-pinned: var(--color-white);
      }

      .icon-muted {
        color: var(--color-white) !important;
      }

      .general-forum-icon {
        color: var(--color-white) !important;
      }

      .Badge:not(.pinned) {
        background: var(--color-white);
        color: var(--color-chat-active);
      }

      .Badge:not(.pinned).muted {
        color: var(--color-white);
        background: #FFFFFF33;
      }

      .status-badge-wrapper-visible .Badge:not(.pinned).muted {
        background: var(--color-chat-active-greyed);
        --outline-color: transparent;
      }

      .status-badge-wrapper-visible .Badge:not(.pinned):not(.muted) {
        --outline-color: transparent;
      }
    }
  }

  &.smaller .ListItem-button {
    height: 4.5rem;
  }

  &.active-forum::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.5rem;
    width: 0.375rem;
    height: 75%;
    transform: translateY(-50%);

    background: var(--color-primary);
    z-index: 1;

    border-start-end-radius: var(--border-radius-default);
    border-end-end-radius: var(--border-radius-default);
  }

  @media (max-width: 600px) {
    .ListItem-button {
      border-radius: 0 !important;
    }
  }

  .ripple-container {
    z-index: 2;
  }

  .status {
    height: 3.375rem;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
    background: var(--background-color);
  }

  .status-badge-wrapper {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    z-index: 2;

    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.16,1.25,0.64,1);
    transition-property: opacity, transform;
    opacity: 0;
    transform: scale(0);

    --outline-color: var(--color-background);

    .Badge {
      box-shadow: 0 0 0 2px var(--outline-color);
    }
  }

  .status-badge-wrapper-visible {
    opacity: 1;
    transform: scale(1);
  }

  .info {
    transition-duration: 0.25s;
    transition-property: ease-in-out;
    transition-property: opacity, transform;

    .subtitle {
      margin-top: -0.125rem;
    }

    .icon-muted {
      font-size: 1.25rem;
      margin-top: -0.0625rem;
      margin-left: 0.25rem;
      color: #c6c8ca;

      body.is-ios & {
        margin-top: 0;
        margin-right: 0.5rem;
      }
    }

    .general-forum-icon {
      font-size: 1.25rem;
      color: var(--color-text-secondary);
    }

    .LastMessageMeta {
      body.is-ios & {
        font-size: 0.875rem;
        margin-right: 0;
      }
    }

    .last-message,
    .typing-status {
      padding-right: 0.25rem;
      flex-grow: 1;
      color: var(--color-text-secondary);
      unicode-bidi: plaintext;

      &[dir="ltr"] {
        text-align: left;
      }

      .sender-name {
        color: var(--color-text);
      }

      .draft {
        color: var(--color-error);
      }
    }

    .last-message {
      .draft {
        &::after {
          content: ": ";
        }
      }

      .colon {
        margin-inline-end: 0.25rem;
      }

      .media-preview--image {
        width: 1.25rem;
        height: 1.25rem;
        object-fit: cover;
        border-radius: 0.125rem;
        vertical-align: -0.25rem;
        margin-inline-end: 0.25rem;

        body.is-ios & {
          width: 1.125rem;
          height: 1.125rem;
          vertical-align: -0.1875rem;
        }

        &.round {
          border-radius: 0.625rem;
        }
      }

      .emoji-small {
        width: 1rem;
        height: 1rem;
        vertical-align: -0.125rem;
      }

      .icon-play {
        position: relative;
        display: inline-block;
        font-size: 0.75rem;
        color: #fff;
        margin-inline-start: -1.25rem;
        margin-inline-end: 0.5rem;
        bottom: 0.0625rem;

        body.is-ios & {
          margin-inline-start: -1.125rem;
          bottom: 0;
        }
      }
    }
  }

  &[dir="rtl"] {
    .info {
      .LastMessageMeta {
        margin-left: 0;
        margin-right: auto;
      }

      .title,
      .subtitle {
        padding-left: 0.125rem;
        padding-right: 0;
      }

      .icon-muted {
        margin-left: 0;
        margin-right: 0.25rem;
      }

      .last-message,
      .typing-status {
        padding-left: 0.5rem;
        padding-right: 0;
        text-align: right;
        unicode-bidi: plaintext;
      }
    }

    &.active-forum::before {
      left: auto;
      right: 0.0625rem;
    }
  }

  &.smaller .info {
    transform: translateX(-25%);
    opacity: 0;
  }

  &[dir="rtl"].smaller .info {
    transform: translateX(25%);
  }
}
