.root {
  position: absolute;
  z-index: var(--z-forum-panel);
  top: 0;
  right: 0;
  left: 4.75rem;
  transform: translate3d(100%, 0, 0);

  display: flex;
  flex-direction: column;

  height: 100%;
  border-left: 1px solid var(--color-borders);

  background-color: var(--color-background);

  transition: transform var(--layer-transition);

  &.rtl {
    right: 4.75rem;
    left: 0;
    transform: translateX(-100%);

    border-right: 1px solid var(--color-borders);
    border-left: none;
  }

  &.no-animation {
    transition: none;
  }

  :global(.chat-list) {
    position: relative;
    overflow-x: hidden;
    padding-top: 0 !important;
  }

  :global(.HeaderActions) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }

  @media (max-width: 600px) {
    left: 4.3125rem;
  }
}

.notch {
  width: 100%;
  height: 0;
  border-bottom: 0.0625rem solid var(--color-borders);

  opacity: 0;

  transition: 0.1s ease opacity;
}

.scrolled .notch {
  opacity: 1;
}

.scroll-top-handler {
  position: absolute;
  z-index: 100;
  top: 0;

  width: 100%;
  height: 1px;
}

.info {
  cursor: var(--custom-cursor, pointer);
  width: 100%;
  min-width: 0;
  margin-left: 0.4375rem;

  :global(.info) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  :global(.fullName) {
    unicode-bidi: plaintext;
    overflow: hidden;

    margin: 0 !important;

    font-size: 1rem !important;
    font-weight: var(--font-weight-medium) !important;
    line-height: 1.375rem;
    text-overflow: ellipsis;
    white-space: pre;
  }

  :global(.status) {
    overflow: hidden;
    display: inline-block;

    margin: 0;

    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--color-text-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
