#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // gap: 1.25rem;
  overflow: hidden;
  background: var(--color-background-transparent);

  > .Transition {
    flex: 1;
    overflow: hidden;
  }

  .ChatFolders {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tabs-placeholder {
      height: 2.625rem;
      /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
      transition: height 150ms ease;

      &:not(.open) {
        height: 0;
      }
    }

    .TabList {
      justify-content: flex-start;
      padding-left: 0.5625rem;
      padding-bottom: 1px;
      border-bottom: 0;
      z-index: 1;

      opacity: 1;
      transition: opacity var(--layer-transition);
    }

    &--tabs-hidden .TabList {
      pointer-events: none;
      opacity: 0.25;
    }

    .Tab {
      flex: 0 0 auto;
      padding-left: 0.625rem;
      padding-right: 0.625rem;

      /* stylelint-disable-next-line */
      > span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        white-space: pre;
      }
    }

    > .Transition {
      flex: 1;
      overflow: hidden;
    }
  }

  .RecentContacts,
  .LeftSearch,
  .search-content {
    height: 100%;
    overflow-y: auto;
  }

  @keyframes buttonShine {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .btn-update {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    background-color: var(--color-primary) !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 75%) !important;
    background-size: 200% 100%  !important;
    transition: background-color 0.3s ease-in-out, background-position 0.3s ease-in-out;
    animation: buttonShine 3s linear infinite;
    white-space: nowrap;
    z-index: var(--z-notification);
  }

  @media (max-width: 600px) {
    background: var(--color-background);
  }
}