.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem 0.75rem 0.375rem 0.375rem;
  cursor: pointer;
  border-radius: var(--border-radius-default-tiny);

  &:hover {
    background-color: var(--color-chat-hover);

    .userName {
      color: var(--color-text);
    }
  }


  .UluHeaderProfile-module__photoWrapper.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem; /* или используйте var(--border-radius-default-tiny) если это уместно */
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(255, 255, 255, 0.094);; /* Серый фон */
    color: rgba(255, 255, 255, 0.443); /* Цвет текста */
    font-size: 1rem; /* Размер шрифта для первой буквы */
    font-weight: bold;
  }
}

.photoWrapper {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.5rem;
  
  :global(.avatar-media) {
    border-radius: 0.5rem;
    vertical-align: inherit;
  }

  :global(.no-photo) {
    border-radius: inherit;
    font-size: 0.6875rem;
    white-space: nowrap;
  }
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem; /* или используйте var(--border-radius-default-tiny) если это уместно */
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.1); /* Серый фон */
  color: rgba(255, 255, 255, 0.443); /* Цвет текста */
  font-size: 22px; /* Размер шрифта для первой буквы */
}

.userName {
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
  width: 50%;
  white-space: nowrap;
  min-width: 125px;
}