.AddChatMembers {
  position: relative;

  overflow: hidden;

  height: 100%;
  padding: 1rem;

  background: var(--color-background-secondary);

  &-inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
