.GifSearch {
  height: 100%;
  padding: 0.25rem;

  .gif-container {
    overflow: auto;
    height: 100%;

    &.grid {
      display: grid;
      grid-auto-flow: dense;
      grid-auto-rows: 6.25rem;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.25rem;
    }
  }

  .helper-text {
    margin-top: 2rem;
    color: var(--color-text-meta);
    text-align: center;
  }
}
