@use '../../styles/mixins';

.root {
  position: relative;
  height: 100%;
  background-color: var(--color-background);
  --topic-icon-size: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mixins.side-panel-section;
}

.general {
  box-shadow: none;
  border-bottom: 0;
}

.top {
  padding: 1rem 1.5rem;
}

.bottom {
  flex-grow: 1;
  min-height: 30rem;
  margin-bottom: 0;
}

.iconWrapper {
  margin: 1.5rem 0;
  align-self: center;

  width: var(--topic-icon-size);
  height: var(--topic-icon-size);
  --custom-emoji-size: var(--topic-icon-size);
  font-size: calc(var(--topic-icon-size) - 2rem);
}

.icon {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: var(--custom-cursor, pointer);
}

.heading {
  font-weight: var(--font-weight-medium);
  font-size: 0.9375rem;
  color: var(--color-text-secondary);
}

.icon-picker {
  min-height: 10rem;
}
