.PollResults {
  pointer-events: auto;

  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;

  > .Loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(white, 0.75);
  }

  .poll-question {
    flex-shrink: 0;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;

    @media (max-width: 600px) {
      padding: 0 1rem;
    }
  }

  .poll-results-list {
    overflow: auto;
    flex-grow: 1;
    border-top: 1px solid var(--color-borders);
  }
}
