#RightColumn {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--right-column-width);
  padding-right: env(safe-area-inset-right);
  transform: translate3d(var(--right-column-width), 0, 0);
  z-index: var(--z-right-column);

  height: -webkit-fill-available;
  background: var(--color-background-secondary);
  border-radius: var(--border-radius-default);
  margin-bottom: 1rem;

  transition: transform var(--layer-transition);

  // Target: Old Firefox (Waterfox Classic)
  @supports not (padding-right: env(safe-area-inset-right)) {
    padding-right: 0;
  }

  body.no-page-transitions &,
  body.no-right-column-animations & {
    transition: none !important;
  }

  @media (max-width: 1275px) {
    box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
    border-left: none;
  }

  @media (max-width: 600px) {
    height: 100%;
    background: var(--color-background);
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100vw;
    transform: translate3d(110vw, 0, 0);
    border-left: 1px solid var(--color-borders);
  }

  > .Transition {
    height: calc(100% - var(--header-height));
    overflow: hidden;
  }

  .Management .section > .ChatInfo {
    padding: 0 1.5rem;
    margin: 1rem 0;
    text-align: center;

    .Avatar {
      margin: 0 auto 0.5rem;

      &.no-photo {
        cursor: var(--custom-cursor, default) !important;
      }
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .emoji {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
      }
    }

    .status {
      font-size: 0.875rem;
      color: #868e96;
    }
  }

  @media (min-width: 600px) {
    border: 1px solid var(--color-borders-middle);
  }
}

#RightColumn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-right-column);
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  margin-top: 3.5rem;
  margin-right: 1rem;

  @media (max-width: 1275px) {
    position: fixed;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  @media (max-width: 600px) {
    margin-top: 0;
    margin-right: 0;
  }

  &.is-hidden {
    display: none;
  }

  .overlay-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: black;
    opacity: 0;

    @media (max-width: 600px) {
      transition: opacity var(--layer-transition);

      body.no-page-transitions &,
      body.no-right-column-animations & {
        transition: none;
      }
    }
  }

  #Main.right-column-shown & {
    visibility: visible;
  }

  #Main.right-column-open & {
    @media (max-width: 600px) {
      .overlay-backdrop {
        opacity: var(--layer-blackout-opacity);
      }
    }

    #RightColumn {
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
      overflow: auto;
    }
  }
}
