.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2.5rem;
  padding: 0;
  padding-inline: 0.5rem;
  border-radius: var(--border-radius-default);

  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);

  background-color: transparent;
}

.window-state-button,
.button {
  flex: none;
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.window-state-button {
  margin-left: auto;
}

.avatars {
  flex: none;
  margin-left: 0.5rem;
}

.browserIcon {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;

  color: var(--color-white);

  background-color: var(--color-primary);
}

.state-icon,
.icon {
  color: var(--color-text-secondary);
  opacity: 0.75;
}

.state-icon {
  font-size: 2rem !important;
}

.title {
  overflow: hidden;

  min-width: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}
