@use "../../../styles/mixins";

.root {
  z-index: 0;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding-top: 1.25rem;
  padding-inline: 1.25rem;

  @include mixins.adapt-padding-to-scrollbar(1rem);
}

.search {
  margin-bottom: 1rem;
}

.section-title {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;
  padding-bottom: 0.5rem;
  padding-block: 0.25rem;

  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.section-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 0.125rem;
  align-items: center;
  justify-content: center;

  padding: 0.125rem;
  padding-bottom: 1.25em;
}

.showMoreLink {
  cursor: pointer;
  color: var(--color-links);
  transition: opacity 0.2s ease-in;

  &:hover, &:active {
    opacity: 0.85;
    background-color: transparent !important;
  }
}
