:root {
  --color-telebiz-green: #4BB841;
  --color-telebiz-yellow: #EEBD34;
  --color-telebiz-orange: #F2862D;
  --color-telebiz-red: #D44326;
  --color-telebiz-gray: #717579;
  --color-telebiz-blue: #3685FB;
  --color-telebiz-brown: #864d2d;
  --color-telebiz-grey: #9B9B9B;
  --color-telebiz-pink: #EB7CB1;
  --color-telebiz-indicator-templates: #686C72;
}
