.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.inputs {
  display: flex;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
}

.input {
  flex-shrink: 1;
  margin-bottom: 0;
}

.month {
  flex-basis: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-self: stretch;
}

.privacySuggestion {
  margin-bottom: 0.5rem;
}

.monthDropdown {
  flex-basis: 100%;
  flex-shrink: 1;
  margin-bottom: 0;

  :global(.Menu) {
    width: 100%;
    margin-top: 0.25rem;
  }
}

.monthBubble {
  overflow: auto !important;
  width: 100%;
  min-width: auto !important;
  max-height: 12rem;
}
