.root {
  padding: 0.25em 0.5em;
  border-radius: 1em;

  font-size: 0.75rem;
  line-height: 1;
  color: var(--accent-color);

  background-color: var(--accent-background-active-color);
  filter: brightness(1);

  transition: 150ms filter ease-in;
}

.clickable {
  cursor: var(--custom-cursor, pointer);

  &:hover {
    filter: brightness(1.1);
  }
}
