.root :global(.modal-dialog) {
  max-width: 55vh;
}

.pickerSelector {
  display: flex;
  align-items: center;
}

.pickerTitle {
  flex: 1;
  margin: 0 0 0 2.25rem;
  font-size: 1.25rem;
  line-height: 1.25;

  @media (max-width: 600px) {
    margin-left: 0.75rem;
  }
}

.picker {
  height: 70vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
