.root {
  display: flex !important;
  align-items: center;
  gap: 0.25rem;

  .fullName {
    margin-bottom: 0;

    &.canCopy {
      pointer-events: all;
    }
  }

  :global(.custom-emoji) {
    color: var(--color-primary);
  }
}
