.GifButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.25rem;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:last-child {
    margin-bottom: 1rem;
  }

  &.vertical {
    grid-column-end: span 1;
  }

  &.horizontal {
    grid-column-end: span 2;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    background: transparent no-repeat center;
    background-size: cover !important;
  }

  .preview, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Spinner {
    position: absolute;
    pointer-events: none;
  }
}
