.LastMessageMeta {
  margin-right: .2rem;
  padding: .3rem 0 .15rem;
  flex-shrink: 0;
  font-size: 0.75rem;
  line-height: 1;
  display: flex;
  align-items: center;

  .MessageOutgoingStatus {
    color: var(--color-text-meta-colored);
    margin-right: 0.1rem;
    font-size: 1.15rem;

    body.is-ios & {
      margin-bottom: -.125rem;
    }
  }

  .time {
    color: var(--color-text-meta);
    line-height: 1.15rem;
  }
}
