@use "../../styles/mixins";

.root,
.collapsedContent {
  position: relative;
}

.collapsedContent {
  @include mixins.gradient-border-bottom(8rem, 0.25rem);
}

.readMoreWrapper {
  pointer-events: none;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
}

.readMoreButton {
  pointer-events: auto;
}

.ownReadMoreButton {
  --button-background-color: var(--color-active);
  --button-active-background-color: var(--color-active-darker);
}
