.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.top {
  position: relative;
  display: grid;
  place-items: center;
}

.badge {
  position: absolute;
  z-index: 1;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 0.125rem;
  align-items: center;

  padding: 0.25rem;
  border: 2px solid var(--color-background);
  border-radius: 1rem;

  font-size: 0.75rem;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  color: var(--color-white);
  white-space: nowrap;

  background-color: var(--color-primary);
}

.text {
  overflow: hidden;

  width: 100%;
  margin-bottom: 0;

  font-size: 0.875rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
