.root {
  --peer-color-wrapper-bar-color: var(--bar-gradient, var(--accent-color));

  position: relative;

  overflow: hidden;

  padding-inline-start: 0.5625rem;
  padding-inline-end: 0.375rem;
  border-radius: 0.25rem;

  color: var(--accent-color);

  background-color: var(--accent-background-color);
}

.withBar::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-start: 0;

  display: block;

  width: 0.1875rem;

  background: var(--peer-color-wrapper-bar-color);
}

.hasGiftEmoji {
  padding-inline-end: 1.75rem;
}

.giftEmoji {
  --custom-emoji-size: 1.25rem;

  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
