.VerifiedIcon {
  display: inline-block;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../assets/icon-verified.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
