.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    width: 14.5rem;
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;

    color: #fff;

    background: var(--action-message-bg);
  }

  .explainer {
    max-width: 14.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;

    font-size: 0.875rem;
    color: #fff;
    text-wrap: balance;

    background: var(--action-message-bg);
  }

  .title {
    margin-bottom: 0;
    font-weight: var(--font-weight-medium);
  }

  .description {
    margin-bottom: 0;
    font-size: 0.9375rem;
  }

  .sticker {
    cursor: var(--custom-cursor, pointer);

    position: relative;

    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
}
