.root {
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}

.title {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
  color: var(--color-error);
}

.subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--color-text-secondary);
}
