.HeaderMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: var(--z-header-menu);

  .Menu {
    position: absolute;
    font-size: 1rem;

    .backdrop {
      z-index: var(--z-header-menu-backdrop);
    }

    .bubble {
      z-index: var(--z-header-menu);
      --offset-y: calc(100% + 1rem);
    }
  }
}
