.NoMessages {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .no-messages-icon {
    font-size: 5rem;
    margin: 0 auto 1rem;
  }

  .topic-icon {
    --custom-emoji-size: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }

  .wrapper {
    display: inline-flex;
    flex-direction: column;
    background: var(--pattern-color);
    max-width: 20rem;
    padding: 0.75rem 1rem;
    border-radius: 1.5rem;
    color: #fff;

    &[dir="rtl"] {
      text-align: right;
    }
  }

  .title {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
    unicode-bidi: plaintext;
  }

  .description {
    font-size: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
    unicode-bidi: plaintext;
  }

  .topic-description {
    text-align: center;
    padding: 0 1rem;
  }

  .list-checkmarks {
    font-size: 0.9375rem;
    margin: 0.25rem 0 0;
    padding: 0;
    list-style: none;
    unicode-bidi: plaintext;
    line-height: 1.8;

    li::before {
      content: "✓";
      margin-inline-end: 0.5rem;
    }
  }
}
