.ScrollDownButton {
  --base-bottom-pos: 6rem;

  position: absolute;
  bottom: var(--base-bottom-pos);
  right: 1rem;
  opacity: 0;
  transform: translateY(4.5rem);
  transition: transform .25s cubic-bezier(0.34, 1.56, 0.64, 1), opacity .2s ease;
  z-index: 10;
  pointer-events: none;

  body.animation-level-0 & {
    transform: none !important;

    transition: opacity .15s;
  }

  @media (max-width: 600px) {
    right: 0.5rem;
    bottom: 4.5rem;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .Button {
      box-shadow: 0 1px 2px var(--color-default-shadow);

      i {
        font-size: 1.75rem;
      }
    }

    @media (min-width: 1276px) {
      transform: translateX(0);

      transition: transform var(--layer-transition);

      body.animation-level-0 & {
        transition: none !important;
      }

      #Main.right-column-open & {
        transform: translateX(calc(-1 * var(--right-column-width)));
      }
    }

    @media (max-width: 600px) {
      > .Button {
        width: 2.875rem;
        height: 2.875rem;
      }
    }
  }

  &.revealed {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;

    &.no-composer {
      transform: translateY(2.5rem);
    }
  }

  .unread-count {
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0 .45rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;

    position: absolute;
    top: -0.3rem;
    right: -0.3rem;

    background: var(--color-green);
    color: white;

    pointer-events: none;

    @media (max-width: 600px) {
      top: -0.7rem;
      right: auto;
    }
  }

  @media (max-width: 600px) {
    body.is-symbol-menu-open & {
      bottom: calc(var(--base-bottom-pos) + var(--symbol-menu-height) + var(--symbol-menu-footer-height));
    }
  }
}
