@media (min-width: 451px) {
  .modalDialog :global(.modal-dialog) {
    max-width: 32rem !important;
  }
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.center {
  text-align: center;
}

.description,
.premiumFeatures {
  text-align: center;
  margin: 0 auto 2rem;
  max-width: 25rem;
}

.premiumFeatures {
  font-size: 0.9375rem;
  color: var(--color-text-secondary);
}

.options {
  margin-bottom: 2.5rem;
}

.boostIcon {
  color: var(--color-primary);
  vertical-align: middle;
  line-height: 1.5;
}
