.wrapper {
  position: relative;
  display: block;
  padding-inline: 3.5rem 1rem;
  border: none;
  margin-bottom: 0;

  cursor: var(--custom-cursor, pointer);

  line-height: 1.5rem;
}

.input {
  position: absolute;
  z-index: var(--z-below);
  opacity: 0;
  &:checked ~ .content {
    &::before {
      border-color: var(--color-primary);
    }

    &::after {
      opacity: 1;
    }
  }
}

.input:not(:checked) ~ .content.notChecked::before,
.input:not(:checked) ~ .content.notChecked::after {
  border-color: transparent;
  opacity: 0;
}

.content {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  gap: 1.25rem;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    inset-inline-start: 1rem;
    top: 50%;
    width: 1.25rem;
    height: 1.25rem;
    transform: translateY(-50%);
  }

  &::before {
    border: 2px solid var(--color-borders-input);
    border-radius: 50%;
    background-color: var(--color-background);
    opacity: 1;
    transition: border-color 0.1s ease, opacity 0.1s ease;
  }

  &::after {
    inset-inline-start: 1.3125rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background: var(--color-primary);
    opacity: 0;
    transition: opacity 0.1s ease;
  }
}

.giveaway {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.title {
  color: var(--color-text);
  margin-bottom: 0;
}

.link {
  display: flex;
  align-items: center;

  color: var(--color-links);
}

.optionImg {
  width: 2.75rem;
  height: 2.75rem;
}

@media (max-width: 450px) {
  .contentText {
    line-height: 1rem;
  }
}
