.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  padding: 0.625rem;
  padding-top: 0;
  border-radius: 0.625rem;
  background-color: var(--color-background-secondary);
  position: relative;
  cursor: var(--custom-cursor, pointer);

  :global(html.theme-dark) & {
    background-color: var(--color-background);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 0.625rem;
    background-color: var(--color-hover-overlay);
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
  }
}

.starGift {
  padding: 0.875rem;
  padding-bottom: 0.625rem;
}

.monthsDescription {
  margin-top: 0.25rem;
  font-weight: var(--font-weight-medium);
}

.description {
  font-size: 0.875rem;
  line-height: 1;

  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buy {
  font-size: 0.6875rem !important;
  margin-top: 0.625rem;
  line-height: 1;
  font-weight: var(--font-weight-semibold) !important;
}

.star {
  margin-inline-end: 0.125rem;
  font-size: 0.75rem !important;
}

.amount {
  margin-top: 0.0625rem; // It just refuses to be centered
}
