.root {
  --_height: 15rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;

  width: 100%;
  height: var(--_height);
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;

  &.withManageButtons {
    --_height: 19.25rem;

    .sticker {
      margin-top: 2.625rem;
    }

    :global {
      canvas {
        transform-origin: center 32%;
      }
    }
  }

  :global {
    canvas {
      transform-origin: center 45%;
      transition: 250ms transform;
    }
  }
}

.subtitleBadge {
  margin-top: 0.25rem;
  padding: 0.75rem;
  padding-block: 0.25rem;
  border-radius: 1rem;

  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);

  transition: color 150ms ease-in, background-color 0.15s !important;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.radialPattern {
  position: absolute;
  z-index: -1;
  inset: -5%;
}

.amount {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  margin-bottom: 0.125rem;

  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.325;
  color: white;
}

.sticker {
  margin-top: 2.875rem;
}

.transition {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: calc(var(--_height) + 1rem); // Account for top modal padding
}

.transitionSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: auto;

  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.75rem;
  color: white;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  text-wrap: balance;

  transition: color 150ms ease-in;
}

.title, .subtitle {
  z-index: 1;
  margin-bottom: 0;
}
