.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1.5rem;
}

.header {
  position: relative;
  align-self: center;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  align-self: center;

  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
}

.features {
  overflow-y: scroll;

  min-height: 5rem;
  margin-inline: 1rem;
  border-top: 0.0625rem solid transparent;

  transition: 0.2s ease-in-out border-color;
}

.mobile {
  padding: 1rem 0rem 1rem 1rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.scrolled {
  border-color: var(--color-borders);
}
