@use '../../../../styles/mixins';

.root {
  display: flex;
  gap: 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  border-radius: 0.5rem;
  cursor: var(--custom-cursor, pointer);
  transition: background-color 0.25s ease-out;

  &:hover {
    background-color: var(--color-chat-hover);
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: 0.875rem;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.statusPricing {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.25rem;
}

.amount {
  font-weight: 500;
}

.title, .description, .subtitle {
  margin-bottom: 0;
}

.title {
  font-size: 1rem;
}

.description, .statusPeriod, .statusEnded {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.statusEnded {
  color: var(--color-error);
}

.preview {
  position: relative;
  align-self: flex-start;
}

.subscriptionStar {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  @include mixins.filter-outline(1px, var(--color-background));
}
