
.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(2rem);
  animation: fade-in-opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal-confirm);
  align-items: center;
  transition: opacity 0.3s ease;

  &.closing {
    opacity: 0;
  }
}

.voice {
  padding: 0.6875rem;
  border-radius: 1rem;
  background-color: var(--color-background);
}

.video {
  background: transparent;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.closeBtn {
  margin: 0 auto;
  width: auto;
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
