.ArchivedChats {
  height: 100%;
  overflow: hidden;

  .left-header {
    position: relative;
    z-index: var(--z-left-header);
  }

  .left-header-shadow {
    box-shadow: 0 2px 2px var(--color-light-shadow);
  }

  .DropdownMenuFiller {
    width: 2.5rem;
    height: 2.5rem;
  }

  .Button.rtl {
    transition: var(--slide-transition) transform;
    position: absolute;
    z-index: 2;

    &.right-aligned {
      transform: translateX(calc(clamp(
      var(--left-column-min-width),
      var(--left-column-width),
      var(--left-column-max-width)
      ) - 4.375rem));
    }

    &.disable-transition {
      transition: none;
    }
  }

  .archived-chats-more-menu {
    margin-left: auto !important;
  }

  .story-toggler-wrapper {
    flex-grow: 1;
    position: relative;
  }

  .chat-list-wrapper {
    --story-ribbon-height: 5.5rem;
    height: calc(100% - var(--header-height));
    position: relative;

    &.shown {
      transform: translateY(calc(var(--story-ribbon-height) * -1));
      height: calc(100% - var(--header-height) + var(--story-ribbon-height));
      transition: none;
    }

    &.open, &.closing {
      transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &.open {
      transform: translateY(0);
    }
  }
}
