.UluInboxChats {
  overflow: hidden;

  height: -webkit-fill-available;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-borders-middle);
  border-radius: var(--border-radius-default);
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: auto;
  margin-top: 3.5rem;

  .left-header {
    position: relative;
    z-index: var(--z-left-header);
  }

  .left-header-shadow {
    border-bottom: 1px solid var(--color-borders-middle);
    @media (max-width: 600px) {
      box-shadow: 0 2px 2px var(--color-light-shadow);
    }
  }

  .DropdownMenuFiller {
    width: 2.5rem;
    height: 2.5rem;
  }

  .Button.rtl {
    transition: var(--slide-transition) transform;
    position: absolute;
    z-index: 2;

    &.right-aligned {
      transform: translateX(calc(clamp(
      var(--left-column-min-width),
      var(--left-column-width),
      var(--left-column-max-width)
      ) - 4.375rem));
    }

    &.disable-transition {
      transition: none;
    }
  }

  .ulu-inbox-chats-more-menu {
    margin-left: auto !important;
  }

  .story-toggler-wrapper {
    flex-grow: 1;
    position: relative;
  }

  .chat-list-wrapper {
    position: relative;
    height: calc(100% - var(--header-height));

    &.with-story-ribbon {
      --extra-height: var(--header-height);
    }
  }

  @media (max-width: 600px) {
    height: 100%;
    background: var(--color-background);
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0rem;
    border-radius: none;
    border: none;
  }
}

body.is-electron.is-macos .UluInboxChats {
  margin-top: 0rem;
}
