.confirmText {
  margin-bottom: 1.5rem;
}

.giftDescription {
  margin-bottom: 1rem;
  padding: 0.375rem;
  border: 0.0625rem solid var(--color-borders);
  border-radius: 0.25rem;

  text-align: center;

  background-color: var(--color-background-secondary);
}
