.root {
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  top: -0.125rem;
  right: -0.125rem;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(6px, -6px) rotate(45deg);

  font-size: 0.625rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  white-space: nowrap;
}
