.root {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.giftPreview {
  position: relative;

  overflow: hidden;
  display: grid;
  place-items: center;

  width: 4rem;
  height: 4rem;
  border-radius: 0.625rem;
}

.backdrop {
  position: absolute;
  inset: 0;
}

.arrow {
  font-size: 2rem;
  color: var(--color-text-secondary);
}
