.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.amount {
  display: flex;
  gap: 0.25rem;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.325;
}

.title, .description, .amount {
  margin-bottom: 0;
}

.soldOut {
  color: var(--color-error);
}

.description {
  text-align: center;
}

.footerDescription {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.unknown {
  margin-inline-start: 0.25rem;
}

.giftValue {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
