@use "../../../../styles/mixins";

.root {
  @include mixins.chat-list-pane;

  cursor: pointer;

  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-radius: var(--border-radius-default);

  background-color: var(--color-background-secondary);

  &:hover {
    opacity: 0.85;
  }
}

.title {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
  color: var(--color-error);
}

.subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--color-text-secondary);
}
