@use "../../../../styles/mixins";

.root {
  @include mixins.chat-list-pane;

  padding: 0.5rem;
  text-align: center;
}

.title {
  font-size: 1rem;
}

.info {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: space-around;
}

.button {
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
}
