.CountryCodeInput {
  .input-group {
    cursor: var(--custom-cursor, pointer);
    z-index: var(--z-country-code-input-group);

    .Spinner {
      --spinner-size: 1.5rem;

      position: absolute;
      top: 0.6875rem;
      right: 0.75rem;
      opacity: 0.5;
    }

    // Prevent loading additional 10 kB of icomoon font on initial load.
    .css-icon-down {
      position: absolute;
      top: 1rem;
      right: 1rem;
      transform: scaleY(1) rotate(45deg);

      width: 0.75rem;
      height: 0.75rem;
      border: 2px solid var(--color-text-secondary);
      border-top: 0;
      border-left: 0;
      /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
      transition: color 0.2s ease, transform 0.2s ease, top 0.2s ease;

      &.open {
        top: 1.3125rem;
        transform: scaleY(-1) rotate(45deg);
        border-color: var(--color-primary);
      }
    }
  }

  .bubble {
    --animation-start-scale: 0.95;

    transform-origin: top center !important;
    overflow-y: auto;
    width: 100%;
    max-height: 23.5rem;
  }

  .MenuItem {
    button {
      display: flex;
      align-items: center;
    }

    &.no-results button {
      justify-content: center;
      padding: 0.5rem 1rem;

      span {
        font-size: 0.875rem;
      }
    }
  }

  .country-flag {
    margin-right: 1rem;
    font-size: 2rem;

    .emoji {
      display: inline-block;

      width: 2rem;
      height: 2rem;
      margin: -0.5rem 0.125rem;

      vertical-align: 4px;
    }
  }

  .country-name {
    overflow: hidden;

    margin-right: 1rem;

    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .country-code {
    margin-left: auto;
    padding-right: 0.25rem;
    opacity: 0.5;
  }
}
