.CardInput {
  position: relative;

  .input-group.has-right-addon .form-control {
    padding-right: 4rem;
  }

  .right-addon {
    position: absolute;
    z-index: 8;
    top: 0.625rem;
    right: 1rem;

    img {
      max-width: 2rem;
    }
  }
}
