.CardInput {
  position: relative;

  .input-group.has-left-addon .form-control{
    padding-left: 4rem;
  }

  .left-addon {
    position: absolute;
    top: 0.8125rem;
    left: 1rem;
    z-index: 8;

    img {
      max-width: 2rem;
    }
  }
}
