$modalHeaderAndFooterHeight: 8.375rem;

.PaymentModal {
  &.recurring {
    .Transition {
      height: 33rem;
      max-height: calc(92vh - $modalHeaderAndFooterHeight);
    }
  }

  .modal-backdrop {
    pointer-events: none;
  }

  &.PaymentModal-receipt .modal-backdrop {
    pointer-events: all;
  }

  .header {
    position: relative;
    border-top-left-radius: var(--border-radius-modal);
    border-top-right-radius: var(--border-radius-modal);
    width: 100%;
    padding: 0.5rem 1rem 0.25rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: var(--color-background);

    h3 {
      margin-bottom: 0;
      margin-left: 1.5rem;
      unicode-bidi: plaintext;
      text-align: initial;
    }
  }

  .Transition {
    height: min(27rem, 68vh);
  }

  .empty-content {
    height: 25rem;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .receipt-content {
    height: 25rem;
    overflow-y: auto;
  }

  .content {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .footer {
    position: relative;
    bottom: 0;
    border-bottom-left-radius: var(--border-radius-modal);
    border-bottom-right-radius: var(--border-radius-modal);
    width: 100%;
    padding: 0.75rem 1rem;
    background: var(--color-background);

    button {
      text-transform: none;
      font-weight: var(--font-weight-medium);
    }

    .button-text {
      text-transform: uppercase;
    }
  }

  .modal-dialog {
    width: 26.25rem;
  }

  .modal-content {
    padding: 0;
    overflow: hidden;
  }

  .ListItem-main-icon {
    margin-inline-end: 1.125rem !important;
  }
}

@media screen and (max-device-width: 640px) and (max-height: 640px) and (orientation: landscape) {
  .PaymentModal,
  .PaymentModal.recurring {
    .modal-dialog {
      max-height: 100%;
    }

    .Transition {
      height: 10rem;
    }
  }
}
