.PaymentModal {
  .modal-backdrop {
    pointer-events: none;
  }

  .header {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: .25rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: var(--color-background);
    border-bottom: 1px var(--color-borders) solid;

    h3 {
      margin-bottom: 0;
      margin-left: 1.5rem;
      unicode-bidi: plaintext;
      text-align: initial;
    }
  }

  .Transition {
    height: 25rem;
  }

  .empty-content {
    height: 25rem;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .receipt-content {
    height: 25rem;
    overflow-y: auto;
  }

  .content {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .footer {
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: .75rem 1rem;
    background: var(--color-background);
    border-top: 1px var(--color-borders) solid;

    button {
      text-transform: none;
      font-weight: 500;
    }
  }

  .modal-dialog {
    width: 25rem;
  }

  .modal-content {
    padding:0;
    overflow: hidden;
  }
}

@media screen
  and (max-device-width: 640px)
  and (max-height: 640px)
  and (orientation: landscape) {
  .PaymentModal {
    .modal-dialog {
      max-height: 100%;
    }

    .Transition {
      height: 10rem;
    }
  }
}
