.PaymentInfo {
  padding: 0.5rem 1rem;

  h5 {
    font-size: 1rem;
    margin: 0 0 1.25rem 0.5rem;
  }

  .inline-inputs {
    display: flex;
    justify-content: space-between;

    .input-group {
      flex: 1 10rem;
      max-width: 48%;
      display: flex;
    }
  }

  .description {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    margin-top: -0.75rem;
    margin-bottom: 1.25rem;
  }

  .checkbox {
    margin: -1.125rem 0 0 -0.375rem;

    .Checkbox {
      padding-inline-start: 4.375rem;
      margin-block: 1rem;
    }
  }
}
