.Shipping {
  padding: 0.5rem 1rem;

  form {
    p {
      margin: 0.5rem 0 2rem;
      font-weight: var(--font-weight-medium);
      color: var(--color-text-secondary);
    }

    .Radio {
      margin-bottom: 2rem;
    }
  }
}
