.root {
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  padding: 0 0.4375rem;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  font-weight: var(--font-weight-medium);
  text-align: center;
  flex-shrink: 0;
}

.default {
  background: var(--color-gray);
  color: var(--color-white);
}

.alternate {
  color: var(--color-chat-active);
  background: var(--color-white);
}
