@mixin thumb-styles() {
  cursor: var(--custom-cursor, pointer);
  transform: scale(1);
  background: var(--color-primary);
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.CropModal {
  .modal-dialog {
    position: relative;
    width: auto;
    min-width: inherit !important;
    max-width: inherit !important;
  }
  .modal-content {
    padding: 1rem;
    padding-top: 0.5rem;
  }
}
