.DropdownMenu {
  position: relative;

  .ProfilePhoto {
    border-radius: 0.5rem;
  }

  .placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem; /* или используйте var(--border-radius-default-tiny) если это уместно */
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(255, 255, 255, 0.094);; /* Серый фон */
    color: rgba(255, 255, 255, 0.443); /* Цвет текста */
    font-size: 1rem; /* Размер шрифта для первой буквы */
  }
}
