.DropdownMenu {
  position: relative;

  .ProfilePhoto-UluHeaderProfile {
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    }
    .Placeholder-UluHeaderProfile {
      display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem; /* или используйте var(--border-radius-default-tiny) если это уместно */
    width: 24px;
    height: 24px;
    background: var(--color-interactive-element-hover);
    color: var(--color-text);
    font-size: 14px; /* Размер шрифта для первой буквы */
    font-weight: bold;
    }

    
}

