.FloatingActionButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transform: translateY(5rem);
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 2;

  body.no-page-transitions & {
    transition: none !important;
  }

  &.revealed {
    transform: translateY(0);
  }

  &[dir="rtl"] {
    right: auto;
    left: 1rem;
  }
}
