.Loading {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.interactive {
    cursor: var(--custom-cursor, pointer);
  }

  .Spinner {
    --spinner-size: 2.75rem;
  }
}
