.MenuItem {
  width: 100%;
  background: none;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  display: flex;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  line-height: 1.5rem;
  white-space: nowrap;
  color: var(--color-text);
  --ripple-color: rgba(0, 0, 0, .08);
  cursor: pointer;

  &:hover, &:focus {
    background-color: var(--color-chat-hover);
  }

  i {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: var(--color-text-secondary);
  }

  &.disabled {
    opacity: 0.5 !important;
    cursor: default !important;
  }

  &.destructive {
    color: var(--color-error);

    i {
      color: inherit;
    }
  }

  &:not(.has-ripple):not(.disabled):active {
    background-color: var(--color-chat-active);
    transition: none !important;
  }
}
