.root {
  position: absolute;
  z-index: var(--z-modal);
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -1rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem 1.25rem;
  border-radius: 2rem;

  font-size: 0.875rem;
  color: var(--color-text);
  white-space: nowrap;

  background-color: var(--color-background);

  transition: transform 0.2s ease, opacity 0.2s ease;

  :global(.confirm) & {
    z-index: var(--z-modal-confirm);
  }

  :global(.low-priority) & {
    z-index: var(--z-modal-low-priority);
  }

  :global(body:not(.no-page-transitions)) .dots {
    transform: none !important;
    transition: none;
  }

  &:not(:global(.open)) {
    transform: translate(-50%, 0);
  }

  &:not(:global(.closing)) {
    transform: translate(-50%, 1rem);
  }
}

.starIcon {
  height: 1rem !important;
  margin-inline-start: 0.125rem !important;
  line-height: 1rem !important;
}

.tonInUsdDescription {
  color: var(--color-text-secondary);
}
