.Notification-container {
  position: relative;
  width: 27rem;
  max-width: 100vw;
  margin: 4.25rem auto 0.25rem;
  z-index: var(--z-notification);

  .has-header-tools & {
    margin-top: 7.375rem;
  }

  @media (min-width: 1276px) {
    transition: transform var(--layer-transition);
  }

  & ~ & {
    margin-top: 0.25rem;

    .has-header-tools & {
      margin-top: 0.25rem;
    }
  }
}

.Notification {
  background: rgba(32, 32, 32, 0.8)
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiNGRkYiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBjeD0iMTIiIGN5PSI2LjUiIHI9IjEuNSIvPjxwYXRoIGQ9Ik0xMiA5LjVjLS41NTIgMC0xIC4zNy0xIC44MjZ2Ny4zNDhjMCAuNDU2LjQ0OC44MjYgMSAuODI2czEtLjM3IDEtLjgyNnYtNy4zNDhjMC0uNDU2LS40NDgtLjgyNi0xLS44MjZ6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+")
    no-repeat 0.9375rem 50%;
  background-size: 1.5rem;
  border-radius: var(--border-radius-default);
  padding: 0.9375rem 0.9375rem 0.9375rem 3.375rem;
  color: #fff;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;

  .text-entity-link,
  .text-entity-link:hover,
  .text-entity-link:active {
    color: #fff !important;
    text-decoration: underline;
  }

  .content {
    line-height: 1.25;
    word-break: break-word;
    font-size: 0.9375rem;
    flex-grow: 1;
  }

  &.bold-link b {
    color: var(--color-primary);
    cursor: pointer;
  }

  .notification-title {
    font-weight: 500;
  }

  .Notification-button {
    color: var(--color-primary);
    font-weight: 500;
    text-transform: none;
    margin: 0 0.5rem;
    height: 2rem;
    width: auto;
  }
}
