@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Старт слева за пределами экрана */
  }
  100% {
    transform: translateX(0); /* Конец в исходном положении */
  }
}

.Notification-container {
  position: fixed;
  width: auto !important;
  max-width: 100vw;
  margin: 4.25rem auto 0.25rem;
  z-index: var(--z-notification);
  bottom: 3rem;
  left: -0.5rem;

    /* Анимация */
    animation-name: slideInFromLeft;
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); 
    animation-fill-mode: both;

  .has-header-tools & {
    margin-top: 7.375rem;
  }

  @media (min-width: 1276px) {
    transition: transform var(--layer-transition);
  }

  & ~ & {
    margin-top: 0.25rem;

    .has-header-tools & {
      margin-top: 0.25rem;
    }
  }
}

.Notification {
  background: rgba(22, 22, 22, 0.498)
  url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15ZM8 6C8.55228 6 9 5.55228 9 5C9 4.44772 8.55228 4 8 4C7.44772 4 7 4.44772 7 5C7 5.55228 7.44772 6 8 6ZM6 8C6 7.58579 6.33579 7.25 6.75 7.25H7.5C8.19036 7.25 8.75 7.80964 8.75 8.5V11.25C8.75 11.6642 8.41421 12 8 12C7.58579 12 7.25 11.6642 7.25 11.25V8.75H6.75C6.33579 8.75 6 8.41421 6 8Z" fill="%23e3e3e3"/></svg>')
  no-repeat 0.9375rem center;
  background-size: 1.5rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border-top: 1px solid var(--color-borders, #303030);
  border-right: 1px solid var(--color-borders, #303030);
  border-bottom: 1px solid var(--color-borders, #303030);
  box-shadow: var(--button-shadow);
  backdrop-filter: blur(20px) saturate(190%) contrast(70%) brightness(80%);
  padding: 0.9375rem 0.9375rem 0.9375rem 3.375rem;
  color: var(--color-text);
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  border-image: linear-gradient(to right, var(--color-primary),  var(--color-borders)) 1;

  .text-entity-link,
  .text-entity-link:hover,
  .text-entity-link:active {
    color: var(--color-background) !important;
    text-decoration: underline;
  }

  .content {
    line-height: 1.25;
    word-break: break-word;
    font-size: 0.9375rem;
    flex-grow: 1;
  }

  &.bold-link b {
    color: var(--color-primary);
    cursor: var(--custom-cursor, pointer);
  }

  .notification-title {
    font-weight: 500;
  }

  .Notification-button {
    color: var(--color-primary);
    font-weight: 500;
    text-transform: none;
    margin: 0 0.5rem;
    height: 2rem;
    width: auto;
  }
}
