.root {
  position: relative;
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  stroke: var(--color-primary);
  fill: transparent;
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s linear, stroke 0.2s;

  @starting-style {
    stroke-dashoffset: 0;
  }
}
