.SearchInput {
  position: relative;
  width: 100%;
  color: rgba(var(--color-text-secondary-rgb), 0.5);
  background-color: var(--color-chat-hover);
  border: 2px solid var(--color-chat-hover);
  border-radius: 6px;
  transition: border-color 0.15s ease;

  &.with-picker-item {
    display: flex;

    .icon-search {
      display: none;
    }

    input {
      padding-left: 0.5rem;
    }

    &[dir="rtl"] {
      input {
        padding-right: 0.5rem;
        padding-left: 0;
      }
    }
  }

  &.has-focus {
    border-color: var(--color-primary);
    caret-color: var(--color-primary);
    background-color: var(--color-background);

    .search-icon {
      color: var(--color-primary);
    }
  }

  input {
    height: 2.5rem;
    margin-bottom: 0;
    border: none !important;
    border-radius: 6px;
    box-shadow: none !important;
    padding: calc(0.4375rem - var(--border-width)) calc(2.625rem - var(--border-width))
      calc(0.5rem - var(--border-width)) calc(2.75rem - var(--border-width));

    &::placeholder {
      color: var(--color-placeholders);
    }
  }

  .icon-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    font-size: 1.375rem;
    line-height: 1;
  }

  .Loading {
    position: absolute;
    top: 0;
    left: 0.1875rem;
    height: 2.5rem;
    width: 2.5rem;

    .Spinner {
      --spinner-size: 1.5rem;
    }
  }

  .Button {
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    font-size: 1rem;
  }

  @media (max-width: 600px) {
    input {
      height: 2.5rem;
      border-radius: 6px;
      padding-left: calc(2.75rem - var(--border-width));
    }
  }

  &[dir="rtl"] {
    input {
      direction: rtl;
    }

    .search-icon {
      left: auto;
      right: 0.75rem;
    }

    .Loading {
      right: 0.1875rem;
      left: auto;
    }

    .Button {
      left: 0.125rem;
      right: auto;
    }
  }
}
