.TabList {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.875rem;
  flex-wrap: nowrap;
  box-shadow: 0 2px 2px var(--color-light-shadow);
  background-color: transparent;
  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);

  &.big {
    font-size: 1rem;
    --border-radius-messages-small: 0;
  }

  &::-webkit-scrollbar {
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    // `box-shadow` prevents repaint on macOS when hovering out of scrollable container
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);

    @media (max-width: 600px) {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  @media (max-width: 600px) {
    background-color: var(--color-background);
  }
}
