.wrapper {
	padding: 0.5625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: var(--border-radius-default-tiny);
	border: none;
	background-color: transparent;
	height: 2.25rem;
	width: 2.25rem;

	:global(.icon-search) {
		$icon-size: 1.125rem;

		height: $icon-size;
		width: $icon-size;
		color: var(--color-text-secondary);

		&::before {
			font-size: $icon-size;
		}
	}

	&:hover {
		background-color: var(--color-interactive-element-hover);

		:global(.icon-search) {
			color: var(--color-text);
		}
	}
}